<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  
<head th:replace="~{/layout/header::head('도서 대출신청 목록')}"></head>

<style>
  .flex_admin {
    display: flex;
    padding-top: 10px;
  }
  
  .admin_contents {
    margin-left: 70px;
  }
  .tfoot_center {
    text-align: center; 
  }
  
  .search_select {
    max-width: 150px;
  }
  .btn-outline-secondary {
    --bs-btn-hover-bg: #e9ecef;
  }
  
  .table td {
    text-align: center;
  }
  
  .input-group {
    margin: 0 auto;
  }
  
  .table_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    height: 41px;
  }
  
  .book_checkout {
    width: 1000px;
  }
  
  .table {
    table-layout: fixed;
  }
  
</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="flex_admin">
    <div class="list-group">
      <a th:href="@{/admin/userList.do}" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-user-large"></i> 회원관리
      </a>
      <a th:href="@{/admin/bookApplyList.do}" class="list-group-item list-group-item-action"><i class="fa-solid fa-book-bookmark"></i> 희망도서</a>
      <a th:href="@{/admin/facList.do}" class="list-group-item list-group-item-action"><i class="fa-solid fa-house"></i> 시설관리</a>
      <a th:href="@{/admin/facApplyList.do}" class="list-group-item list-group-item-action"><i class="fa-solid fa-house"></i> 시설신청</a>
      <a th:href="@{/admin/addBookList.do}" class="list-group-item list-group-item-action"><i class="fa-solid fa-book"></i> 도서등록</a>
      <a th:href="@{/admin/bookList.do}" class="list-group-item list-group-item-action"><i class="fa-solid fa-book"></i> 도서관리</a>
      <a th:href="@{/admin/bookCheckoutList.do}" class="list-group-item list-group-item-action active" aria-current="true"><i class="fa-solid fa-book"></i> 도서대출</a>
      <a th:href="@{/admin/bookCheckoutReturnList.do}" class="list-group-item list-group-item-action"><i class="fa-solid fa-clipboard-question"></i> 도서반납</a>
    </div>
    
    <div class="admin_contents">
      <div class="book_checkout">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">대출번호</th>
              <th scope="col">대출회원번호</th>
              <th scope="col">대출회원이름</th>
              <th scope="col">대출도서ISBN</th>
              <th scope="col" class="table_title">대출도서명</th>
              <th scope="col">대출현황</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <th:block th:if="${#lists.isEmpty(bookCheckoutList)}">
              <tr><td colspan="7">대출 신청중인 도서가 없습니다.</td></tr>
            </th:block>
            <th:block th:each="book,vs:${bookCheckoutList}">
              <tr>
                <td scope="row" th:text="${book.checkoutNo}"></td>
                <td scope="row" th:text="${book.userDto.userNo}"></td>
                <td scope="row" th:text="${book.userDto.name}"></td>
                <td scope="row" th:text="${book.bookDto.isbn}"></td>
                <td scope="row" class="table_title" th:text="${book.bookDto.title}"></td>
                <td scope="row">
                  <th:block th:if="${book.status == 0}">
                    대출신청
                  </th:block>
                  <th:block th:if="${book.status == 1}">
                    대출중
                  </th:block>
                  <th:block th:if="${book.status == 2}">
                    반납완료
                  </th:block>
                  <th:block th:if="${book.status == 3}">
                    연체
                  </th:block>
                </td>
                <td scope="row">
                  <form class="frm_book_checkout" th:action="@{/admin/approvalBookCheckout.do}" method="post">
                    <input type="hidden" name="userNo" th:value="${book.userDto.userNo}">
                    <input type="hidden" name="checkoutNo" th:value="${book.checkoutNo}">
                    <button type="submit" class="btn btn-primary">대출승인</button>
                  </form>
                </td>
              </tr>
            </th:block>
          </tbody>
          <tfoot class="tfoot_center">
            <td colspan="7">
              <div th:utext="${paging}"></div>
              <div>
                <form id="frm_search" method="get" th:action="@{/admin/bookCheckoutSearch.do}">
                  <div class="input-group w-75 p-3">
                    <select class="form-select search_select" id="inputGroupSelect01" name="column" aria-label="Example select with button addon">
                      <option value="TITLE" selected>책 제목</option>
                      <option value="NAME">회원이름</option>
                      <option value="USER_NO">회원번호</option>
                      <option value="ISBN">ISBN</option>
                    </select>
                    <input type="text" class="form-control serach_text" name="query" placeholder="검색어를 입력하세요." aria-label="Username" aria-describedby="basic-addon1">
                    <button class="btn btn-outline-secondary" type="submit" id="btn_search">
                      <i class="fa-solid fa-magnifying-glass white"></i>
                    </button>
                  </div>
                </form>              
              </div>
            </td>
          </tfoot>
        </table>
      </div>
    </div>

  </div>
  
  <script th:inline="javascript">
    
    const fnCheckBookCheckout = () => {
      $('.frm_book_checkout').submit((ev) => {
        if(!confirm('해당 도서의 대출을 승인하시겠습니까?')){
          ev.preventDefault();
          return;
        }
      })
    }
    
    const fnUpdateResult = () => {
      let updateResult = /*[[${updateResult}]]*/ null;
      if(updateResult !== null) {
        if(updateResult === 1) {
          alert('도서 대출이 정삭적으로 승인되었습니다.');
        } else {
          alert('도서 대출 승인이 실패되었습니다.');
        }
      }
    }
    
    const fnCheckSearchText = () => {
      $('#frm_search').submit((ev) => {
        let query = $('.serach_text').val().trim();
        
        let checkTitle = /^[a-zA-Z0-9가-힣]{1}[a-zA-Z0-9가-힣\s ]{1,}$/;
        let checkName = /^[a-zA-Z0-9가-힣]{2,}$/;
        let checkUserNo = /^[0-9]{1,}$/;
        let checkISBN = /^[0-9]{1,13}$/;
        
        if(query === '') {
          alert('검색어를 입력해주세요.');
          ev.preventDefault();
          return;
        }
        
        if($('.search_select').val() === "TITLE") {
          if(!checkTitle.test(query)) {
            alert('검색어를 정확히 입력해주세요(영어,숫자,한글로만 2자 이상)');
            ev.preventDefault();
            return;
          }
        }
        
        if($('.search_select').val() === "NAME") {
          if(!checkName.test(query)) {
            alert('검색어를 정확히 입력해주세요(영어,한글로만 2자 이상)');
            ev.preventDefault();
            return;
          }
        }
        
        if($('.search_select').val() === "USER_NO") {
          if(!checkUserNo.test(query)) {
            alert('검색어를 정확히 입력해주세요(숫자로만 구성)');
            ev.preventDefault();
            return;
          }
        }
        
        if($('.search_select').val() === "ISBN") {
          if(!checkISBN.test(query)) {
            alert('검색어를 정확히 입력해주세요(숫자 1~13자)');
            ev.preventDefault();
            return;
          }
        }
        
      })
    }
    
    fnCheckBookCheckout();
    fnUpdateResult();
    fnCheckSearchText();
  </script>
  
  <div th:replace="~{/layout/footer::footer}"></div>

</body>
</html>