<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  
<head th:replace="~{/layout/header::head('관리자게시판목록')}"></head>

<style>
  .flex_admin {
    display: flex;
  }
  
  .padding_top {
    padding-top: 10px;
  }
  
  .admin_contents {
    margin-left: 20px;
  }
  .tfoot_center {
    text-align: center; 
  }
  
  .search_select {
    max-width: 150px;
  }
  .btn-outline-secondary {
    --bs-btn-hover-bg: #e9ecef;
  }
  
  .list-group {
    min-width: 115px;
    --bs-list-group-item-padding-x: 0.5rem;
  }
  
  .input-group {
    margin: 0 auto;
  }
  
  .table {
    table-layout: fixed;
  }
  
  .table_isbn {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 132px;
    height: 41px;
  }
  .table_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 565px;
    height: 41px;
  }
  
  .table_author {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
    height: 41px;
  }
  
  .table_publisher {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 105px;
    height: 41px;
  }
  
  .admin_spacebetween{
    display: flex;
    justify-content: space-between;
  }
  
  #calendar {
    width: 900px;
  }
  
  .modal_img {
    width: 300px;
  }
  
</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="flex_admin padding_top">
    <div class="list-group">
      <a th:href="@{/admin/userList.do}" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-user-large"></i> 회원관리
      </a>
      <a th:href="@{/admin/bookList.do}" class="list-group-item list-group-item-action"><i class="fa-solid fa-book"></i> 도서관리</a>
      <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-book-bookmark"></i> 희망도서</a>
      <a th:href="@{/admin/facList.do}" class="list-group-item list-group-item-action active" aria-current="true"><i class="fa-solid fa-house"></i> 시설관리</a>
      <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-bullhorn"></i> 공지사항</a>
      <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-clipboard-question"></i> 1:1문의</a>
    </div>
    
    <div class="admin_contents">
      <div id='calendar'></div>
      <div>
        <button type="button" class="btn btn-primary" id="btn_write">시설 등록하기</button>
      </div>
    </div>

  </div>
  
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <!-- 모달 내용이 들어갈 자리 -->  
        </div>
      </div>
    </div>
  </div>
  
  <script th:inline="javascript">
    
    
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView : 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
        headerToolbar : { // 헤더에 표시할 툴 바
          start : 'prev next',
          center : 'title',
          end : 'today'
        },
        titleFormat : function(date) {
          return date.date.year + '년 ' + (parseInt(date.date.month) + 1) + '월';
        },
        //initialDate: '2021-07-15', // 초기 날짜 설정 (설정하지 않으면 오늘 날짜가 보인다.)
        selectable : true, // 달력 일자 드래그 설정가능
        droppable : true,
        editable : true,
        nowIndicator: true, // 현재 시간 마크
        locale: 'ko', // 한국어 설정
        events: [
            
            {
                start: '2000-01-01',
                end: '2023-11-29',
                overlap: false,
                display: 'background',
                backgroundColor: "#D3D3D3"
            }
        ],
        
        dateClick: function(info) {
          let user = /*[[${session.user}]]*/ null;
          if(user === null) {   // 로그인 여부 체크
            if(confirm('로그인이 필요한 기능입니다. 로그인 하시겠습니까?')){
              location.href='/user/login.form';
              return; 
            } else {
              return;            
            }          
          }
          
          var today = new Date();

          var year = today.getFullYear();
          var month = ('0' + (today.getMonth() + 1)).slice(-2);
          var day = ('0' + today.getDate()).slice(-2);
          
          var todayFormat = year + '-' + month  + '-' + day;
          var clickDate = info.dateStr;
          
          if(todayFormat >= clickDate) {  // 당일 또는 이전날짜 클릭 시 조회 못하게 막음
            alert('당일 또는 이전 날짜는 조회하실 수 없습니다.');
            return;
          }
          
          
          $.ajax({  // 해당 유저가 클릭한 날짜에 이용신청 했는지 확인
            method: 'post',
            url: '/admin/checkFacApply.do',
            data:{"userNo": user.userNo, "facStart": info.dateStr},
            dataType: 'json',
            success: (resData) => {
              console.log(resData.checkResult);
              if(resData.checkResult === true){
                alert(user.name + '님은 ' + info.dateStr + '일에 이용 신청하신 시설이 있습니다.\n같은날에 2개의 시설은 이용이 불가합니다.');
                return;
              } else {
                fmModalUpdate(info, user);
              }
            }
          })
        }
        
      });
      calendar.render();
    });
    
   const fmModalUpdate = (info, user) => {
     $('.modal-title').text(info.dateStr + "일자 시설 목록");
     $.ajax({
        method:'get',
        url:"/admin/facTotalList.do",
        data: 'facStart=' + info.dateStr,
        dataType:'json',
        success: function(resData) {
          var modalContent = '';
          if(resData.availableFacList.length > 0) {
            modalContent += '<h2>이용 가능한 시설</h2>';
            $.each(resData.availableFacList, (i, f) => {
              modalContent += '<div class="flex_admin">';
              modalContent += '  <div>';
              modalContent += '    <img class="modal_img" src="' + f.facPath + '/' + f.facFilesystemName + '">';
              modalContent += '  </div>';
              modalContent += '  <div>';
              modalContent += '    <div>';
              modalContent += '      <div><h6>시설명 : '+f.facilityDto.facName+'</h6></div>';
              modalContent += '      <div><h6>'+f.facilityDto.facContent+'</h6></div>';
              modalContent += '      <div>';
              modalContent += '        <form class="frm_fac_apply" method="post" th:action="@{/admin/addFacApply.do}">';
              modalContent += '          <input type="hidden" name="userNo" value="'+user.userNo+'">';
              modalContent += '          <input type="hidden" name="facNo" value="'+f.facilityDto.facNo+'">';
              modalContent += '          <input type="hidden" name="facStart" value="'+info.dateStr+'">';
              modalContent += '          <input type="hidden" name="facName" value="'+f.facilityDto.facName+'">';
              modalContent += '          <button type="button" class="btn btn-primary btn_add_fac_apply">신청하기</button>';
              modalContent += '        </form>';
              modalContent += '      </div>';
              modalContent += '    </div>';
              modalContent += '  </div>';
              modalContent += '</div>';
            })
          }
          if(resData.unavailableFacList.length > 0) {
            modalContent += '<h2>이용 불가능한 시설</h2>';
            $.each(resData.unavailableFacList, (i, f) => {
              modalContent += '<div class="flex_admin">';
              modalContent += '  <div>';
              modalContent += '    <img class="modal_img" src="' + f.facPath + '/' + f.facFilesystemName + '">';
              modalContent += '  </div>';
              modalContent += '  <div>';
              modalContent += '    <div>';
              modalContent += '      <div><h6>시설명 : '+f.facilityDto.facName+'</h6></div>';
              modalContent += '      <div><h6>'+f.facilityDto.facContent+'</h6></div>';
              modalContent += '    </div>';
              modalContent += '  </div>';
              modalContent += '</div>';
            })
          }
          $(".modal-body").html(modalContent);
        }
      })
      $("#myModal").modal("show");
   }
       
   const fnFacWrite = () => {
     $('#btn_write').click(() => {
       location.href="/admin/facWrite.form";
     })
   }
   
   const fnAddFacApply = () => {
     $(document).on('click', '.btn_add_fac_apply', (ev) => {
       let facName = $(ev.target).prev().val();
       if(!confirm(facName + ' 이용을 신청하겠습니까?')){
         return;
       }
       
       $.ajax({
         method: 'post',
         url: '/admin/addFacApply.do',
         data: $(ev.target).closest('.frm_fac_apply').serialize(),
         dataType: 'json',
         success: (resData) => {
           console.log(resData.addResult);
           if(resData.addResult === 1){
           alert(facName + '이용 신청 완료!');
           }
           $("#myModal").modal("hide");
         }
       })
       
     })
   }
    
   fnFacWrite();
   fnAddFacApply();
    
  </script>
  
  <div th:replace="~{/layout/footer::footer}"></div>

</body>
</html>