<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  
<head th:replace="~{/layout/header::head('관리자게시판목록')}"></head>

<style>
  .flex_div {
    display: flex;
  }
</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div>
    <h1>관리자 페이지</h1>
    <div class="flex_div">
      <div>회원관리</div>
      <div>도서관리</div>     
      <div>희망도서 신청내역</div>
      <div>시설관리</div>
      <div>공지사항</div>
      <div>1:1문의</div>
    </div>
    
    <div>
      <form th:action="@{/admin/insertBooks.do}" method="get">
        <select name="QueryType">
          <option value="ItemNewAll">신간 전체 리스트</option>
          <option value="Bestseller">베스트셀러</option>
        </select>
        <button type="submit">도서업데이트</button>
      </form>
    </div>

  </div>
  
  <script th:inline="javascript">
    const fnBookCount = () => {
      let bookCount = /*[[${bookCount}]]*/ null;
      if(bookCount !== null) {
        alert(bookCount + '개의 책이 업데이트되었습니다.');
      }
    }  
    fnBookCount();  
  </script>
  
  <div th:replace="~{/layout/footer::footer}"></div>

</body>
</html>