<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  
<head th:replace="~{/layout/header::head('관리자게시판목록')}"></head>

<style>
  .flex_admin {
    display: flex;
    padding-top: 10px;
  }
  
  .admin_contents {
    margin-left: 70px;
    width:1000px;
  }
  .tfoot_center {
    text-align: center; 
  }
  
  .search_select {
    max-width: 150px;
  }
  .btn-outline-secondary {
    --bs-btn-hover-bg: #e9ecef;
  }
  
  .table td {
    text-align: center;
  }
  
</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="flex_admin">
    <div class="list-group">
      <a th:href="@{/admin/userList.do}" class="list-group-item list-group-item-action active" aria-current="true">
        <i class="fa-solid fa-user-large"></i> 회원관리
      </a>
      <a th:href="@{/admin/bookApplyList.do}" class="list-group-item list-group-item-action"><i class="fa-solid fa-book-bookmark"></i> 희망도서</a>
      <a th:href="@{/admin/facList.do}" class="list-group-item list-group-item-action"><i class="fa-solid fa-house"></i> 시설관리</a>
      <a th:href="@{/admin/facApplyList.do}" class="list-group-item list-group-item-action"><i class="fa-solid fa-house"></i> 시설신청</a>
      <a th:href="@{/admin/addBookList.do}" class="list-group-item list-group-item-action"><i class="fa-solid fa-book"></i> 도서등록</a>
      <a th:href="@{/admin/bookList.do}" class="list-group-item list-group-item-action"><i class="fa-solid fa-book"></i> 도서관리</a>
      <a th:href="@{/admin/bookCheckoutList.do}" class="list-group-item list-group-item-action"><i class="fa-solid fa-book"></i> 도서대출</a>
      <a th:href="@{/admin/bookCheckoutReturnList.do}" class="list-group-item list-group-item-action"><i class="fa-solid fa-clipboard-question"></i> 도서반납</a>
    </div>
    
    <div class="admin_contents">
      <div>
        <h1><span th:text="${user.name}"></span>님의 정보 상세조회</h1> 
      </div>
      <hr>
      <div class="mb-1 row">
        <label for="staticEmail" class="col-sm-3 col-form-label">유저번호</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="userNo" th:value="${user.userNo}">
        </div>
      </div>
      <div class="mb-1 row">
        <label for="staticEmail" class="col-sm-3 col-form-label">이메일</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="email" th:value="${user.email}">
        </div>
      </div>
      <div class="mb-1 row">
        <label for="staticEmail" class="col-sm-3 col-form-label">이름</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="name" th:value="${user.name}">
        </div>
      </div>
      <div class="mb-1 row">
        <label for="staticEmail" class="col-sm-3 col-form-label">전화번호</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="mobile" th:value="${user.mobile}">
        </div>
      </div>
      <div class="mb-1 row">
        <label for="staticEmail" class="col-sm-3 col-form-label">가입형태</label>
        <div class="col-sm-9">
          <input type="hidden" readonly class="form-control-plaintext" id="staticEmail" th:value="${user.mobile}">
          <span class="form-control-plaintext" th:if="${user.state == 0}">일반회원</span>
          <span class="form-control-plaintext" th:if="${user.state == 1}">네이버간편로그인</span>
          <span class="form-control-plaintext" th:if="${user.state == 2}">구글간편로그인</span>
        </div>
      </div>
      <div class="mb-1 row">
        <label for="staticEmail" class="col-sm-3 col-form-label">회원등급</label>
        <div class="col-sm-9">
          <input type="hidden" readonly class="form-control-plaintext" id="auth" th:value="${user.auth}">
          <span class="form-control-plaintext" th:if="${user.auth == 0}">일반회원</span>
          <span class="form-control-plaintext" th:if="${user.auth == 1}">휴면회원</span>
          <span class="form-control-plaintext" th:if="${user.auth == 9}">관리자</span>
        </div>
      </div>
      <div class="mb-1 row">
        <label for="staticEmail" class="col-sm-3 col-form-label">비밀번호수정일</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="pwModifiedDate" th:value="${#dates.format(user.pwModifiedDate, 'yyyy-MM-dd')}">
        </div>
      </div>
      <div class="mb-1 row">
        <label for="staticEmail" class="col-sm-3 col-form-label">회원가입일</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="joinedDate" th:value="${#dates.format(user.joinedDate, 'yyyy-MM-dd')}">
        </div>
      </div>
      <div class="mb-1 row">
        <label for="staticEmail" class="col-sm-3 col-form-label">대출가능여부</label>
        <div class="col-sm-9">
          <input type="hidden" readonly class="form-control-plaintext" id="status" th:value="${user.status}">
          <span class="form-control-plaintext" th:if="${user.status == 0}">불가능</span>
          <span class="form-control-plaintext" th:if="${user.status == 1}">가능</span>
        </div>
      </div>
      <div>
        <form class="frm_user">
          <input type="hidden" name="userNo" th:value="${user.userNo}">
          <button type="button" class="btn btn-primary btn_edit">회원수정</button>
          <button type="button" class="btn btn-primary btn_delete">회원탈퇴</button>
        </form>
      </div>
      <hr>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h2><span th:text="${user.name}"></span>님의 도서 대출정보</h2> 
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">대출번호</th>
                    <th scope="col">대출회원번호</th>
                    <th scope="col">대출회원이름</th>
                    <th scope="col">대출도서ISBN</th>
                    <th scope="col">대출도서명</th>
                    <th scope="col">대출현황</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <th:block th:if="${#lists.isEmpty(bookCheckoutList)}">
                    <tr><td colspan="7">대출중인 도서가 없습니다.</td></tr>
                  </th:block>
                  <th:block th:each="book,vs:${bookCheckoutList}">
                    <tr>
                      <td scope="row" th:text="${book.checkoutNo}"></td>
                      <td scope="row" th:text="${book.userDto.userNo}"></td>
                      <td scope="row" th:text="${book.userDto.name}"></td>
                      <td scope="row" th:text="${book.bookDto.isbn}"></td>
                      <td scope="row" class="table_title" th:text="${book.bookDto.title}"></td>
                      <td scope="row">
                        <th:block th:if="${book.status == 0}">
                          대출신청
                        </th:block>
                        <th:block th:if="${book.status == 1}">
                          대출중
                        </th:block>
                        <th:block th:if="${book.status == 3}">
                          연체
                        </th:block>
                      </td>
                      <td scope="row">
                        <th:block th:if="${book.status == 0}">
                          <form class="frm_book_checkout" th:action="@{/admin/approvalUserBookCheckout.do}" method="post">
                            <input type="hidden" name="userNo" th:value="${book.userDto.userNo}">
                            <input type="hidden" name="checkoutNo" th:value="${book.checkoutNo}">
                            <button type="submit" class="btn btn-primary">대출승인</button>
                          </form>
                        </th:block>
                        <th:block th:if="${book.status == 1 || book.status == 3}">
                          <form class="frm_book_checkout_return" th:action="@{/admin/approvalUserBookCheckoutReturn.do}" method="post">
                            <input type="hidden" name="checkoutNo" th:value="${book.checkoutNo}">
                            <input type="hidden" name="userNo" th:value="${book.userDto.userNo}">
                            <input type="hidden" name="status" th:value="${book.status}">
                            <input type="hidden" name="isbn" th:value="${book.bookDto.isbn}">
                            <button type="submit" class="btn btn-primary">반납확인</button>
                          </form>
                         </th:block>
                      </td>
                    </tr>
                  </th:block>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h2><span th:text="${user.name}"></span>님의 시설이용 신청 정보</h2> 
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">회원명</th>
                    <th scope="col">시설번호</th>
                    <th scope="col">시설명</th>
                    <th scope="col">신청날짜</th>
                    <th scope="col">시작날짜</th>
                    <th scope="col">신청상태</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <th:block th:if="${#lists.isEmpty(facApplyList)}">
                    <tr><td colspan="7">등록된 시설이 없습니다.</td></tr>
                  </th:block>
                  <th:block th:each="facApply,vs:${facApplyList}">
                    <tr>
                      <td scope="row" th:text="${facApply.userDto.name}"></td>
                      <td scope="row" th:text="${facApply.userDto.userNo}"></td>
                      <td scope="row" th:text="${facApply.facilityDto.facName}"></td>
                      <td scope="row" th:text="${facApply.facRegDate}"></td>
                      <td scope="row" th:text="${facApply.facStart}"></td>
                      <td scope="row">
                        <th:block th:if="${facApply.facStatus == 0}">
                          승인대기
                        </th:block>
                        <th:block th:if="${facApply.facStatus == 1}">
                          승인
                        </th:block>
                        <th:block th:if="${facApply.facStatus == 2}">
                          거절
                        </th:block>
                        
                      </td>
                      
                      <td scope="row" class="flex_admin" th:if="${facApply.facStatus == 0}">
                        <form th:action="@{/admin/approveUserFacApply.do}" method="post">
                          <input type="hidden" name="userNo" th:value="${user.userNo}">
                          <input type="hidden" name="facApplyNo" th:value="${facApply.facApplyNo}">
                          <button type="submit" class="btn btn-primary">승인</button>
                        </form>
                        <form th:action="@{/admin/refuseUserFacApply.do}" method="post">
                          <input type="hidden" name="userNo" th:value="${user.userNo}">
                          <input type="hidden" name="facApplyNo" th:value="${facApply.facApplyNo}">
                          <button type="submit" class="btn btn-primary">거절</button>
                        </form>
                      </td>
                    </tr>
                  </th:block>
                </tbody>
                <tfoot class="tfoot_center">
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h2><span th:text="${user.name}"></span>님의 희망도서 신청 정보</h2> 
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">회원이름</th>
                    <th scope="col">신청도서명</th>
                    <th scope="col">저자</th>
                    <th scope="col">출판사</th>
                    <th scope="col">신청현황</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <th:block th:if="${#lists.isEmpty(bookApplyList)}">
                    <tr><td colspan="6">검색된 회원이 없습니다.</td></tr>
                  </th:block>
                  <th:block th:each="book,vs:${bookApplyList}">
                    <tr>
                      <td scope="row" th:text="${book.userDto.name}"></td>
                      <td scope="row" th:text="${book.bookName}"></td>
                      <td scope="row" th:text="${book.author}"></td>
                      <td scope="row" th:text="${book.publisher}"></td>
                      <td scope="row">
                        <th:block th:if="${book.status == 0}">
                          도서신청완료
                        </th:block>
                        <th:block th:if="${book.status == 1}">
                          도서추가완료
                        </th:block>
                      </td>
                      <td scope="row">
                        <form th:action="@{/admin/bookApplyDetail.do}" method="get">
                          <input type="hidden" name="applyNo" th:value="${book.applyNo}">
                          <button type="submit" class="btn btn-primary">상세</button>
                        </form>
                      </td>
                    </tr>
                  </th:block>
                </tbody>
                <tfoot class="tfoot_center">
                  <td colspan="7">
                    <div th:utext="${paging}"></div>
                  </td>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <script th:inline="javascript">
    const fnCheckBookCheckout = () => {
      $('.frm_book_checkout').submit((ev) => {
        if(!confirm('해당 도서의 대출을 승인하시겠습니까?')){
          ev.preventDefault();
          return;
        }
      })
    }
    
    const fnCheckBookCheckoutReturn = () => {
      $('.frm_book_checkout_return').submit((ev) => {
        if(!confirm('해당 도서의 반납을 확인하셨습니까?')){
          ev.preventDefault();
          return;
        }
      })
    }
    
    const fnUpdateCheckoutResult = () => {
      let updateCheckoutResult = /*[[${updateCheckoutResult}]]*/ null;
      if(updateCheckoutResult !== null) {
        if(updateCheckoutResult === 1) {
          alert('도서 대출이 정삭적으로 승인되었습니다.');
        } else {
          alert('도서 대출 승인이 실패되었습니다.');
        }
      }
    }
    
    const fnUpdateReturnResult = () => {
      let updateReturnResult = /*[[${updateReturnResult}]]*/ null;
      if(updateReturnResult !== null) {
        if(updateReturnResult === 1) {
          alert('도서 반납이 정상적으로 확인되었습니다.');
        } else {
          alert('도서 반납을 실패했습니다.');
        }
      }
    }
    
    const fnUserEdit = () => {
      $('.btn_edit').click(() => {
        $('.frm_user').attr('action', '/admin/userEdit.form');
        $('.frm_user').attr('method', 'get');
        $('.frm_user').submit();
      })
    }
    
    const fnUserDelete = () => {
      $('.btn_delete').click(() => {
        if(confirm('해당 유저를 탈퇴시키겠습니까?')){
          $('.frm_user').attr('action', '/admin/userDelete.do');
          $('.frm_user').attr('method', 'post');
          $('.frm_user').submit();
        }
      })
    }
    
    const fnUpdateApproveResult = () => {
      let updateApproveResult = /*[[${updateApproveResult}]]*/ null;
      if(updateApproveResult !== null) {
        if(updateApproveResult === 1) {
          alert('이용 신청을 정상적으로 승인하였습니다.');
        } else {
          alert('이용 신청의 승인을 실패하였습니다.');
        }
      }
    }
    
    const fnUpdateRefuseResult = () => {
      let updateRefuseResult = /*[[${updateRefuseResult}]]*/ null;
      if(updateRefuseResult !== null) {
        if(updateRefuseResult === 1) {
          alert('이용 신청을 정상적으로 거부하였습니다.');
        } else {
          alert('이용 신청의 거부을 실패하였습니다.');
        }
      }
    }
    
    fnCheckBookCheckout();  
    fnCheckBookCheckoutReturn();
    fnUpdateCheckoutResult();
    fnUpdateReturnResult();
    fnUserEdit();
    fnUserDelete();
    fnUpdateApproveResult();
    fnUpdateRefuseResult();
    
  </script>
  
  <div th:replace="~{/layout/footer::footer}"></div>

</body>
</html>