<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('책빌리지')}"></head>

<script th:src="@{/js/main.js}"></script>


<style>


</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">
    
    <div>
      <div class="title2" style="text-align: center;">" "에 대한 검색 결과</div>
      <c:if test="{empty}"
        
    </div>

 

  </div>


    
    
    
    
  </div>
  
  
  <script>
    
  
</script>
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>