<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('책빌리지')}"></head>

<script th:src="@{/js/main.js}"></script>


<style>


</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">
    
    <div>
      <form th:action="@{/main/mainSearch.form}">
        
        
      </form>
    </div>

 

  </div>


    
    
    
    
  </div>
  
  
  <script>
    
  
</script>
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>