<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/header::head('희망도서신청내역')}"></head>

<style>
  .side_bar {
    width: 200px;
    height: 600px;    
    text-align: center;
    margin-top: 30px;    
    min-height: calc(100vh - 200px);
    overflow-y: auto;
  }
  
  
   .side_bar li:hover {
    background-color:  #f0f0f0;
    transition: .3s;
  }
  
  #side_list li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .mypage {
    width: 800px;
    height: 500px;
    display: inline-block;
    text-align: center;   
    padding-top: 30px;
  }
  
    .table_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
    height: 41px;
  }
  
  .table {
    
    width: 850px;
  }
  
</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap wrap_flex">
    <div class="column-2">
    <div class="side_bar">
      <h3 style="border-bottom: 1px solid gray; padding-bottom: 30px;">마이페이지</h3>
      <ul id="side_list">
        <li><a th:href="@{/mypage/booklist.do}">대출조회및연기</a></li>
        <li><a th:href="@{/mypage/edit.form}">회원정보수정</a></li>
        <li><a th:href="@{/mypage/wish.do}">관심도서</a></li>
        <li><a th:href="@{/mypage/review.do}">도서후기</a></li>
        <li><a th:href="@{/mypage/facApply.do}">시설이용신청내역</a></li>    
        <li><a th:href="@{/mypage/applyBook.do}">희망도서신청내역</a></li>
      </ul>    
    </div>
    </div>
    <th:block th:if="${session.user != null}">
    <div class="column-8">
    <div class="mypage">
      <h3>희망도서 신청목록</h3>
      <span style="font-size: 15px;">신청상태 : 신청중 - 관리자가 확인중입니다(수정/취소가능) / 신청완료 - 도서입고완료</span>
      <table border="1" class="table table-hover" style="font-size: 15px;">
        <thead>
          <tr>
            <td>도서명</td>
            <td>저자</td>
            <td>출판사</td>
            <td>신청사유</td>
            <td>신청상태</td>
            <td>신청수정/취소</td>
          </tr>
        </thead>
        <tbody>
          <tr th:if="${#lists.isEmpty(applyBookList)}">
            <td colspan="6">신청내역이 없습니다.</td>
          </tr>
          <tr th:each="applyBook : ${applyBookList}" th:if="${applyBook != null and session.user != null and session.user.userNo eq applyBook.userDto.userNo}">
            <td th:text="${applyBook.bookName}"></td>
            <td th:text="${applyBook.author}"></td>
            <td th:text="${applyBook.publisher}"></td>
            <td th:text="${applyBook.wish}"></td>
            <td>
              <span th:if="${applyBook.status == 0}">신청중</span>
              <span th:if="${applyBook.status == 1}">신청완료</span>
            </td>
            <td>
              <th:block th:if="${applyBook.status == 0}">
                <form id="frm_btn" method="post">
                  <input type="hidden" name="applyNo" th:value="${applyBook.applyNo}">
                  <input type="hidden" name="userNo" th:value="${session.user.userNo}">
                  <input type="hidden" name="wish" th:value="${applyBook.wish}">
                  <input type="hidden" name="bookName" th:value="${applyBook.bookName}">
                  <input type="hidden" name="author" th:value="${applyBook.author}">
                  <input type="hidden" name="publisher" th:value="${applyBook.publisher}">
                  <button type="button" class="btn btn-outline-success btn-sm btn_modifyApply">수정</button>
                  <button type="button" class="btn btn-success btn-sm btn_cancleApply">신청취소</button>
                </form>
              </th:block>
              <th:block th:if="${applyBook.status == 1}">

              </th:block>
            </td>
          </tr>
        </tbody>
        <tfoot th:if="${not #lists.isEmpty(applyBookList)}">
          <tr>
            <td colspan="6" th:utext="${paging}"></td>
          </tr>
        </tfoot>
      </table>    
    </div>
    </div>
  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
  <script th:inline="javascript">
    
  $(document).ready(function() {
    // 수정 버튼에 대한 이벤트 처리
    $('.btn_modifyApply').on('click', function() {
      var frmBtn = $(this).closest('form');
      frmBtn.attr('action', '/mypage/applyBookEdit.form');
      frmBtn.submit();
    });

    // 취소 버튼에 대한 이벤트 처리
    $(document).on('click', '.btn_cancleApply', function() {
      var applyNoValue = $(this).closest('form').find('input[name="applyNo"]').val();
      if (!confirm('희망도서신청을 취소할까요?')) {
        return;
      }
      $.ajax({
        type: 'post',
        url: '/mypage/deleteApply.do',
        data: {
          applyNo: applyNoValue
        },
        success: function(resData) {
          if (resData.removeResult === 1) {
            alert('희망도서신청이 취소되었습니다');
            location.reload();
          } else {
            alert('희망도서신청 취소가 불가능합니다.');
            return;
          }
        }
      });
    });
  });
</script>
  
</body>
</html>