<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('책빌리지')}"></head>

<style>
  .side_bar {
    width: 200px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    position: fixed;
  }
  
  #side_list li {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .mypage {
    width: 800px;
    height: 500px;
    display: inline-block;
    text-align: center; 
    margin-left: 320px;
  }
  
</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">
    
    <div class="side_bar">
      <h3 style="border-bottom: 1px solid gray; padding-bottom: 30px;">마이페이지</h3>
      <ul id="side_list">
        <li><a th:href="@{/mypage/edit.form}">회원정보수정</a></li>
        <li><a th:href="@{/mypage/booklist.do}">대출조회및연기</a></li>
        <li><a th:href="@{/mypage/wish.do}">관심도서</a></li>
        <li><a th:href="@{/mypage/review.do}">도서후기</a></li>
        <li>시설이용/신청내역</li>     <!--/* 시설신청,희망도서신청내역 */-->
      </ul>      
    </div>
    
    <div class="mypage">
      
      <h3>대출조회및연기</h3>
      <div>
        <h4>이용자 대출상태</h4>
        <ul>
          <li th:text="|이용자 이름:${session.user.name}|"></li>
          <li th:text="|회원상태:${session.user.status}|"></li>
        </ul>
      </div>
      <table border="1" class="table table-hover">
        <thead>
          <tr>
            <td>대출번호</td>
            <td>도서명</td>
            <td>대출일자</td>
            <td>반납예정일</td>
            <td>대출상태</td>
            <td>반납연기</td>
          </tr>
        </thead>
        <!--/* 접속유저의 도서대출내역 list 출력(for문) */-->
       <tbody>
         <tr th:if="${#lists.isEmpty(bookList)}">
           <td colspan="5">대출내역이없습니다.</td>
          </tr>
          <th:block th:if="${not #lists.isEmpty(bookList)}">
            <th:block th:each="book : ${bookList}">
              <tr th:if="${session.user.userNo eq book.userDto.userNo}">
                <td th:text="${book.checkoutNo}"></td>
                <td th:text="${book.bookDto.title}"></td>
                <td th:text="${book.checkoutDate}"></td>
                <td th:text="${book.dueDate}"></td>
                <td>
                  <th:block th:if="${book.status == 1}">
                    대출중
                  </th:block>
                  <th:block th:if="${book.status == 2}">
                    반납완료
                  </th:block>
                </td>
                <!--/* <form method="get" th:action="/mypage/delayBookCheckout.do"> */-->
                <td th:if="${book.status == 1}">
                  <form method="get" th:action="@{/mypage/delayBookCheckout.do}">
                  <input type="hidden" id="checkoutNo" name="checkoutNo" th:value="${book.checkoutNo}">
                  <button type="submit" id="btn_delay" class="btn btn-success">연기신청</button>
                  </form>
                </td>
              
              </tr>
              
             </th:block>
          </th:block>
        </tbody>
        <!--/* 페이징 */-->
        <tfoot th:if="${not #lists.isEmpty(bookList)}">
          <tr>
            <td  colspan="5" th:utext="${paging}"></td>
          </tr>
        </tfoot>
      </table>
    </div>
    
  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
  <script th:inline="javascript">
    
    const fnDelayCheckout = () => {
        let delayResult = /*[[${delayResult}]]*/ null;
        if(delayResult !== null) {
          if(delayResult === 1) {
          alert('연기신청을 완료했습니다.');           
          } else {
          alert('연기신청이 불가능합니다.');
          }
        } 
    }
    
    fnDelayCheckout();
  </script>
  
</body>
</html>