<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('회원정보수정')}"></head>

<style>
  .side_bar {
    width: 200px;   
    text-align: center;
    margin-top: 30px;
    position: sticky;
  }
  
  .side_bar li:hover {
    background-color:  #f0f0f0;
    transition: .3s;
  }
  
  #side_list li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
</style>

<script th:src="@{/js/user_modify.js(ver=1.0)}"></script>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap wrap_flex">
    <div class="column-2">
    <div class="side_bar">
      <h3 style="border-bottom: 1px solid gray; padding-bottom: 30px;">마이페이지</h3>
      <ul id="side_list">
        <li><a th:href="@{/mypage/booklist.do}">대출조회및연기</a></li>
        <li><a th:href="@{/mypage/edit.form}">회원정보수정</a></li>
        <li><a th:href="@{/mypage/wish.do}">관심도서</a></li>
        <li><a th:href="@{/mypage/review.do}">도서후기</a></li>
        <li><a th:href="@{/mypage/facApply.do}">시설이용신청내역</a></li>    
        <li><a th:href="@{/mypage/applyBook.do}">희망도서신청내역</a></li>
      </ul>        
    </div>
    </div>
    <div class="column-8">
    <div class="mypage" style="width: 800px; text-align: left; margin-left: 100px;">
      
      <h3 style="padding: 30px; text-align: center;">회원정보수정</h3>
      
      <div>
        <form id="frm_mypage" method="post">        
          
          <div class="row mb-4">
            <div class="col-sm-3">이메일 : </div>
            <div class="col-sm-9" th:text="${session.user.email}"></div>
          </div>
          
          <div class="row mb-4">
            <div class="col-sm-3">가입일 : </div>
            <div class="col-sm-9" th:text="${#dates.format(session.user.joinedDate, 'yyyy-MM-dd a hh:mm:ss')}"></div>
          </div>
          
          <div class="row mb-4">
            <label for="name" class="col-sm-3 col-form-label">이름 : </label>
            <input type="text" id="name" name="name" th:value="${session.user.name}" class="form-control">
            <div class="col-sm-3"></div>
            <div class="col-sm-9 mb-3" id="msg_name"></div>
          </div>
          
          <div class="row mb-4">
            <label for="mobile" class="col-sm-3 col-form-label">휴대번호 : </label>
            <input type="text" id="mobile" name="mobile" th:value="${session.user.mobile}" class="form-control">            
            <div class="col-sm-3"></div>
            <div class="col-sm-9 mb-3" id="msg_mobile"></div>         
          </div>
          
          <div>
            <label>성별 : </label>
              <input type="radio" name="gender" value="0" id="man">
              <label for="man">남자</label>

              <input type="radio" name="gender" value="1" id="woman">
              <label for="woman">여자</label>

              <input type="radio" name="gender" value="3" id="none">
              <label for="none">선택안함</label>
          </div>
          <script th:inline="javascript">
            $(':radio[value=[[${session.user.gender}]]]').prop('checked', true);
          </script>
          
          <div class="row mt-3">
            <label class="col-sm-12 form-label">이벤트 알림 동의(선택)</label>                               
          </div>
          
          <div class="row mb-2">
            <div class="col-sm-3">
              <input type="radio" name="event" value="on" id="event_on">
              <label for="event_on">동의함</label>
            </div>
            <div class="col-sm-3">
              <input type="radio" name="event" value="off" id="event_off">
              <label for="event_off">동의안함</label>
            </div>
          </div>
          <script th:inline="javascript">
            let agree = /*[[${session.user.agree}]]*/ null;
            if(agree === 0) {
              $('#event_off').prop('checked', true);
            } else if(agree === 1) {
              $('#event_on').prop('checked', true);
            }
          </script>
          
          <div class="text-center">
            <input type="hidden" name="userNo" th:value="${session.user.userNo}"> 
            <div th:if="${session.user.state == 0}">
            <button type="button" id="btn_modify_pw" class="btn btn-danger">비밀번호변경하기</button>
            <button type="button" id="btn_modify" class="btn btn-success">수정완료</button>
            </div>
            <div th:if="${session.user.state != 0}" style="font-size: 30px;">
              간편가입 회원은 정보수정이 불가능합니다.
            </div>           
          </div>          
          
        </form>
        
      </div>
      
    </div>
    
  </div>
  </div>
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>