<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('책빌리지')}"></head>

<style>
  .side_bar {
    width: 200px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    position: fixed;
  }
  
  #side_list li {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .mypage {
    width: 700px;
    height: 500px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    margin-left: 320px;
    padding-top: 30px;
  }
  
</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">
    
    <div class="side_bar">
      <h3 style="border-bottom: 1px solid gray; padding-bottom: 30px;">마이페이지</h3>
      <ul id="side_list">
        <li><a th:href="@{/mypage/booklist.do}">대출조회및연기</a></li>
        <li><a th:href="@{/mypage/edit.form}">회원정보수정</a></li>
        <li><a th:href="@{/mypage/wish.do}">관심도서</a></li>
        <li><a th:href="@{/mypage/review.do}">도서후기</a></li>
        <li><a th:href="@{/mypage/facApply.do}">시설이용신청내역</a></li>    
        <li><a th:href="@{/mypage/applyBook.do}">희망도서신청내역</a></li>
      </ul>      
    </div>
    <th:block th:if="${session.user != null}">
    <div class="mypage" th:text="|${session.user.name}님의 마이페이지입니다.|"></div>
    </th:block>
  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>