<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/header::head('비밀번호변경')}"></head>

<style>
  .side_bar {
    width: 200px;
    text-align: center;
    margin-top: 30px;
    position: sticky;
  }
  
    .side_bar li:hover {
    background-color:  #f0f0f0;
    transition: .3s;
  }
  
  #side_list li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
</style>

<script th:src="@{/js/user_modify_pw.js(ver=1.0)}"></script>
<script>
  
  $(document).ready(function() {
    $("#btn_autoPw").click(function() {
        var userNo = $("input[name='userNo']").val(); 

        $.ajax({
            type: "get",
            url: "/user/autoUpdatePw.do",
            data: { "userNo": userNo }, 
            success: function(response) {
                alert("90일 뒤 비밀번호를 변경해주세요.");
                window.location.href = "/main.do"; 
                
            },
            error: function(error) {
                alert("서버 오류가 발생하였습니다.");
            }
        });
    });
});
 
</script>


<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap wrap_flex">
    <div class="column-2">
    <div class="side_bar">
      <h3 style="border-bottom: 1px solid gray; padding-bottom: 30px;">마이페이지</h3>
      <ul id="side_list">
        <li><a th:href="@{/mypage/booklist.do}">대출조회및연기</a></li>
        <li><a th:href="@{/mypage/edit.form}">회원정보수정</a></li>
        <li><a th:href="@{/mypage/wish.do}">관심도서</a></li>
        <li><a th:href="@{/mypage/review.do}">도서후기</a></li>
        <li><a th:href="@{/mypage/facApply.do}">시설이용신청내역</a></li>    
        <li><a th:href="@{/mypage/applyBook.do}">희망도서신청내역</a></li>
      </ul>     
    </div>
    </div>
    <div class="column-8">
    <div class="wrap wrap_7" style="width: 800px;">
      
      <h1 class="title">비밀번호 변경하기</h1>
      
      <form id="frm_modify_pw" class="mt-5" method="post" th:action="@{/mypage/modifyPw.do}">
        
        <div class="row mb-2">
          <label for="pw" class="col-sm-3 col-form-label">비밀번호</label>
          <div class="col-sm-9"><input type="password" name="pw" id="pw" class="form-control"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-9 mb-3" id="msg_pw"></div> 
        </div>
        
        <div class="row mb-2">
          <label for="pw2" class="col-sm-3 col-form-label">비밀번호 확인</label>
          <div class="col-sm-9"><input type="password" name="pw2" id="pw2" class="form-control"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-9 mb-3" id="msg_pw2"></div> 
        </div>
        
        <div class="text-center mt-3">
          <input type="hidden" name="userNo" th:value="${session.user.userNo}">
          <button type="submit" class="btn btn-primary">변경하기</button>
          <button type="button" class="btn btn-primary" id="btn_autoPw">90일 뒤 변경하기</button>
        </div> 
        </div>      
       </div> 
      </form>
      
    </div>
    
  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>