<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('책빌리지')}"></head>

<style>
  .side_bar {
    width: 200px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    position: fixed;
  }
  
  #side_list li {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .mypage {
    width: 700px;
    height: 500px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    margin-left: 320px;
    padding-top: 30px;
  }
  
</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">
    
    <div class="side_bar">
      <h3 style="border-bottom: 1px solid gray; padding-bottom: 30px;">마이페이지</h3>
      <ul id="side_list">
        <li><a th:href="@{/mypage/edit.form}">회원정보수정</a></li>
        <li><a th:href="@{/mypage/booklist.do}">대출조회및연기</a></li>
        <li><a th:href="@{/mypage/wish.do}">관심도서</a></li>
        <li><a th:href="@{/mypage/review.do}">도서후기</a></li>
        <li>시설이용/신청내역</li>     <!--/* 시설신청,희망도서신청내역 */-->
      </ul>      
    </div>
    
    <div class="mypage">
      <h3>도서후기</h3>
      <span style="font-size: 20px;">작성한 한줄평</span>
      <table border="1" class="table table-hover" style="font-size: 15px;">
        <thead>
          <tr>
            <td>도서명</td>
            <td>한줄평</td>
            <td>작성일</td>
          </tr>
        </thead>
        <tbody>
          <th:block th:if="${not #lists.isEmpty(reviewList)}">
            <th:block th:each="review : ${reviewList}">
              <tr th:if="${session.user.userNo eq review.userNo}">
                <td><a th:href="@{/book/search/detail(isbn=${review.isbn})}" th:text="${review.bookDto.title}"></a></td>
                <td th:text="${review.review}"></td>
                <td th:text="${review.reviewDate}"></td>
              </tr>
              <tr th:if="${session.user.userNo ne review.userNo}">
                <td colspan="3">작성내역이없습니다.</td>
              </tr>
            </th:block>
          </th:block>
        </tbody>
        <tfoot th:if="${not #lists.isEmpty(reviewList)}">
          <tr>
            <td colspan="3" th:utext="${paging}"></td>
          </tr>
        </tfoot>
      </table>
      
    </div>
    
  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>