<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('책빌리지')}"></head>

<script th:src="@{/js/main.js}"></script>

<style>
  .main_notice_list {
    width: 100%;
    display: flex;
    margin: 10px;
    justify-content: center;
  }

  .main_notice_list_box1,
  .main_notice_list_box2 {
    font-size: 15px;
    width: calc(50% - 10px);
    height: 300px;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px;
  }

  .main_notice_list_box1 {
  }

  .notice_list {
    margin: 10px;
    justify-content: center;
  }

  .swiper-slide-box {
    width: 100%;
  }

  .detail_img {
    display: flex;
    flex: 3;
    left: 20px;
    margin-right: 20px;
  }

  .search_inline {
    display: inline-block;
  }

.owl-item img {
  width: 200px; 
  height: 270px;
  object-fit: contain;
}

.reviewBookList,
.newBookList{
  margin: 10px;
  padding: 10px;
}


  
</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">
    
    <!-- Slider main container -->
    <div class="swiper first">
      <!-- Additional required wrapper -->

      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img class="main1" th:src="@{'/image/long_banner2.png'}" alt="Banner Image">
        </div>
        <div class="swiper-slide">
          <img class="main1" th:src="@{'/image/long_banner3.png'}" alt="Banner Image">
        </div>
        <div class="swiper-slide">
          <img class="main1" th:src="@{'/image/long_banner1.png'}" alt="Banner Image">
        </div>
      </div>
      
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

    </div>

    
    <!-- 슬라이드 밑 박스 2개 -->

    <div class="main_notice_list">
      
    <!-- 첫 번째 박스 - 공지사항 목록 -->
      <div class="main_notice_list_box1">

        <div class="table-responsive notice_list">
          <h3 class="title2">공지사항 </h3><button type="button" id="btn_ntGo" class="btn btn-outline-secondary btn-sm">더보기</button>
          
          <table  class="table align-middle">
            <thead>
              <tr>
                <td>순번</td>
                <td>제목</td>
                <td>작성날자</td>
              </tr>              
            </thead>
            <tbody id="ntBoby"></tbody>
          </table>
          
        </div>


      </div>
  
      <!-- 두 번째 박스 FAQ 목록-->
      <div class="main_notice_list_box2">
        
        <div class="table-responsive notice_list">
            <h3 class="title2">FAQ</h3><button type="button" id="btn_faqGo" class="btn btn-outline-secondary btn-sm">더보기</button>
            
            <table class="table align-middle">
                <thead>
                    <tr>
                        <td>순번</td>
                        <td>제목</td>
                        <td>내용</td>
                    </tr>
                </thead>
                <tbody id="faqTableBody"></tbody>
            </table>
        </div>
        
      </div>
      
      
    </div>




    <!-- 신작 슬라이드 -->
  <div class="newBookList"> 
    <div class="title2">신간 도서 목록</div>

    
        <div class="swiper-container swiper-container2">
        <div class="swiper-wrapper second">
        </div>
        
    
        <div class="swiper-button-prev swiper-button-prev"></div> 
        <div class="swiper-button-next swiper-button-next"></div> 
    </div>
  </div>

    <!-- 평점 슬라이드 -->
  <div class="reviewBookList"> 
    <div class="title2">리뷰 TOP 10 </div>

    
        <div class="swiper-container swiper-container3">
        <div class="swiper-wrapper thrid">
        </div>
        
    
        <div class="swiper-button-prev swiper-button-prev"></div> 
        <div class="swiper-button-next swiper-button-next"></div> 
    </div>
  </div>

  <hr>

  <!-- 시설신청하기 -->
  <div class="reviewBookList"> 
    <div class="title2">시설신청하기</div><button type="button" id="btn_facGo" class="btn btn-outline-secondary btn-sm">더보기</button>
   
   
   <div class="swiper-container swiper-container4">
        <div class="swiper-wrapper four">
        </div>
        
    
        <div class="swiper-button-prev swiper-button-prev"></div> 
        <div class="swiper-button-next swiper-button-next"></div> 
    </div>
   
  </div>

   
   
  
  <script>
    
 
    
    

  $(document).ready(function () {
    var carousel = new Swiper('.swiper-container2', {
        autoplay: {
            delay: 2000,
        },
        slidesPerView: 5,
        spaceBetween: 10,
        direction: 'horizontal',
        loop: true,
        pagination: {
            el: '.swiper-pagination',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });

    $.ajax({
        type: 'GET',
        url: '/main/bookImageList.do',
        contentType: 'application/json',
        success: function (response) {
            response.book.forEach(function (book) {
                var truncatedTitle = book.title.substring(0, 20) + (book.title.length > 20 ? '...' : '');
                var statusText = book.status === 1 ? '대출 가능' : '대출 중';

                // 이미지를 동적으로 추가
                carousel.appendSlide(`<div class="swiper-slide swiper-slide1"><a href="/book/search/detail?isbn=${book.isbn}"><img class="sliserImg" src="${book.cover}" alt="${book.title}"><br>${truncatedTitle}<br>${statusText}</a></div>`);
            });

        },
        error: function (error) {
            console.log('Error fetching book data: ' + error);
        }
    });
});





 $(document).ready(function () {
    var thrid = new Swiper('.swiper-container3', {
        autoplay: {
            delay: 2000,
        },
        slidesPerView: 5,
        spaceBetween: 10,
        direction: 'horizontal',
        loop: true,
        pagination: {
            el: '.swiper-pagination',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
 
    });

    $.ajax({
        type: 'get',
        url: '/main/reviewTop3.do',
        contentType: 'application/json',
        success: function (response) { 
            response.review3.forEach(function (review3) {
                var truncatedTitle = review3.title.substring(0, 20) + (review3.title.length > 20 ? '...' : '');
                var statusText = review3.status === 1 ? '대출 가능' : '대출 중';

                // 이미지를 동적으로 추가
                thrid.appendSlide(`<div class="swiper-slide swiper-slide3"><a href="/book/search/detail?isbn=${review3.isbn}"><img class="sliserImg" src="${review3.cover}" alt="${review3.title}"><br>${truncatedTitle}<br>${statusText}</a></div>`);
            });

        },
        error: function (error) {
            console.log('Error fetching book data: ' + error);
        }
    });
});

 // 공지사항 더보기
 $(document).ready(function(){
   $('#btn_ntGo').on('click', function(){
     window.location.href='http://localhost:8080/support/list.do';
   })
 })
 // FAQ 더보기
 $(document).ready(function(){
   $('#btn_faqGo').on('click', function(){
     window.location.href='http://localhost:8080/support/faqlist.do';
   })
 })


 // 시설신청 더보기 누르면 신청 페이지로 이동
 $(document).ready(function(){
   $('#btn_facGo').on('click', function(){
     window.location.href = 'http://localhost:8080/apply/faclist.do';
   })
 })

// 시설 신청 슬라이드 이미지
 $(document).ready(function () {
    var fac = new Swiper('.swiper-container4', {
    //    autoplay: {
    //        delay: 2000,
    //    },
        slidesPerView: 2,
        spaceBetween: 4,
        // centeredSlides: true,
        direction: 'horizontal',
        loop: true,
        pagination: {
            el: '.swiper-pagination',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });

    $.ajax({
        type: 'GET',
        url: '/main/mainFac.do',
        contentType: 'application/json',
        success: function (response) {
            response.facList.forEach(function (facList) {
                // var truncatedTitle = facList.facName.substring(0, 20) + (facList.facName.length > 20 ? '...' : '');
              var statusText = facList.status === 1  ? '예약불가' : '예약가능';
              var firstFacName = response.facList[0].facilityDto.facName;

        response.facList.forEach(function (facList) {
            var facName = facList.facilityDto.facName;
// var facImage = facList.facFilesystemName !== null ? `${facList.facPath}/${facList.facFilesystemName}` : 'ready_img.jpg';

//fac.appendSlide(`<div class="swiper-slide swiper-slide4"><img class="facImg" src="${facImage}"><br>${facName}<br></div>`);

            fac.appendSlide(`<div class="swiper-slide swiper-slide4"><img class="facImg" src="${facList.facPath}/${facList.facFilesystemName}"><br>${facName}<br></div>`);
            });
 });
        },
        error: function (error) {
            console.log('Error fetching book data: ' + error);
        }
    });
});






</script>

  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>