<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('소장자료 검색')}"></head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.10.1/chart.min.js"></script>


<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">

      <nav class="breadcrumb">
        <ul class="b_menu">
          <li class="home">
            <span class="home_ico">
              <em class="blind"><i class="fa-solid fa-house"></i></em>
            </span>
          </li>
          <li class>
            <a href="#none">자료검색</a>
            <div class="dep_list" style="display: none;">
              <ul>
                <li class>
                  <a href="/book/search.do">자료검색</a>
                </li>
                <li class>
                  <a href="/mypage/list.do">나만의 도서관</a>
                </li>
                <li class>
                  <a href="/support/notice.do">고객센터</a>
                </li>
                <li class>
                  <a href="/mypage/list.do">시설안내</a>
                </li>
                <li class>
                  <a href="/user/login.form">로그인</a>
                </li>
                <li class>
                  <a href="/user/agree.form">회원가입</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <strong class="current"></strong>
          </li>
        </ul>
      </nav>
  
<!-- body -->          

    <div class="wrap wrap_flex">
      <div class="column-2">
        <div class="menu_title">
          자료검색
        </div>
        <ul class="menu_list">
          <div>자료검색</div>
          <div>주제별자료검색</div>
          <div>희망도서신청</div>
          <div>사서추천도서</div>
        </ul>
      </div>
      
      <div class="column-8">
        <div class="detail_bar">
          <a href="javascript:void(0);" id="BackToSearch"><i class="fa-solid fa-arrow-left"></i> 검색 결과로 돌아가기</a>
        </div>
        <hr>
        <div class="detail_book" th:each="bookDetail:${bookDetailList}">
          <div class="detail_img search_inline">
            <img th:src="${bookDetail.cover}"></img>
          </div>
          <div class="detail_info search_inline">
            <div><h4 th:text="${bookDetail.title}"></h4></div>
            <div><span th:text="${bookDetail.categoryName}"></span></div>
            <table class="book_table">
              <tr>
                <th>저자</th>
                <td><div><span th:text="${bookDetail.author}"></span></div></td>
              </tr>
              <tr>
                <th>출판사</th>
                <td><div><span th:text="${bookDetail.publisher}"></span></div></td>
              </tr>
              <tr>
                <th>출간일</th>
                <td><div><span th:text="${bookDetail.pubdate}"></span></div></td>
              </tr>

              
            </table>
            <div><span th:text="${bookDetail.description}"></span></div>

          </div>          
        </div>
        <hr>
        
        <div>
          <ul class="detail_menu">
            <li>
              <form method="post" id="WishForm">
                <input type="hidden" name="userNo" th:value="${session.user?.userNo != null ? session.user.userNo : 0}" />
                <input type="hidden" name="isbn" th:value="${bookDetailList[0].isbn}" />
                <input type="hidden" id="wishDate" name="wishDate" />
                <button type="button" class="btn btn-outline-secondary wishBtn" >관심
                  <span th:if="${checkWish == 1}">♥</span>
                  <span th:if="${checkWish == 0}">♡</span>                  
                </button>
              </form>
            </li>
            <li>
              <form th:if="${bookDetailList[0].status == 1}" id="updateCheckoutForm">
                <input type="hidden" name="userNo" th:value="${session.user?.userNo != null ? session.user.userNo : 0}" />
                <input type="hidden" name="isbn" th:value="${bookDetailList[0].isbn}" />
                <input type="hidden" name="checkoutDate" id="checkoutDate" />
                <button type="button" class="btn btn-outline-secondary">대출신청</button>
              </form>
              <button th:if="${bookDetailList[0].status == 0}" type="button" disabled='disabled' class="btn btn-outline-secondary" id="checkout_btn">대출중</button>
            </li>      
            <li>
              <button type="button" class="btn btn-outline-secondary toggle-guide">이용안내<i class="fa-solid fa-chevron-down"></i></button>
            </li>        
          </ul>
        </div>
        <hr>
        
        <div class="detail_guide guide">
          <dl>
            <dt>책빌리지 대출 안내</dt>
            <dd>
              - 도서는 7일동안 대출 가능합니다.<br>
              - 연체되었을 경우 ?일동안 대출 불가합니다.<br>
              - 5권까지 대출 가능합니다.<br>
              - 대출 내역은 '나만의 도서관'에서 확인할 수 있습니다.
            </dd>
          </dl>
          <dl>
            <dt>책빌리지 이용 안내</dt>
            <dd>
              - 인신공격, 명예훼손, 혐오/차별/비하/모욕적인 표현 금지<br>
              - 저작권 분쟁의 소지가 있는 글 금지<br>
              - 해당 상품의 내용과 무관한 저자, 출판사 등에 관한 글 금지<br>
              - 독서 후기와 무관한 각종 문의와 요청사항은 고객센터를 이용해주세요.
            </dd>
          </dl>          
        </div>
        <hr>
         
        <h4 class="detail_title">평점 분포</h4>
        <h5>평균 ★: [[${starAvg} ?: 0.0]] </h5>
        <hr>
         
        <h4 class="detail_title">한줄평</h4>
        <div th:if="${#lists.isEmpty(scoreList)}">등록된 한줄평이 없습니다.</div>
        <div th:if="${not #lists.isEmpty(scoreList)}">
          <div class="score_list" th:each="score:${scoreList}">
            <div>
              <span th:text="${score.review}"></span>
              <span th:text="${score.reviewDate}"></span>
              <span th:if="${score.star == 5}" >★★★★★</span>
              <span th:if="${score.star == 4}" >★★★★☆</span>
              <span th:if="${score.star == 3}" >★★★☆☆</span>
              <span th:if="${score.star == 2}" >★★☆☆☆</span>
              <span th:if="${score.star == 1}" >★☆☆☆☆</span>     
              
              <span class="my_score" th:if="${score.userNo != null and score.userNo == session?.user?.userNo}">                   
                <!-- 삭제 버튼 -->
                <a th:href="@{/book/deleteScore.do(isbn=${score.isbn}, userNo=${score.userNo})}" th:onclick="return confirm('정말로 삭제하시겠습니까?')"><i class="fa-solid fa-xmark"></i></a>
              </span>
              <span class="my_score" th:unless="${score.userNo != null and score.userNo == session?.user?.userNo}">    
                <!-- 추천 버튼 -->
                <a th:href="@{/book/likeScore.do(isbn=${score.isbn}, userNo=${score.userNo})}" th:onclick="return confirm('추천하시겠습니까?')"><i class="fa-regular fa-thumbs-up"></i></a>
              </span>                   
            </div>
          </div>        
        </div>

         
        <div class="detail_score">
          <form name="score" id="score" class="score" method="post">
            <input type="hidden" name="isbn" th:value="${bookDetailList[0].isbn}">
            <input type="hidden" name="userNo" th:if="${session.user != null}" th:value="${session.user.userNo}" />
            <input type="hidden" name="userNo" th:if="${session.user == null}" th:value="0" />
            <input type="hidden" name="reviewDate">
            <fieldset>
              <span>평가하기</span>
              <input type="radio" name="star" class="star" value="5" id="rate1"><label for="rate1">★</label>
              <input type="radio" name="star" class="star" value="4" id="rate2"><label for="rate2">★</label>
              <input type="radio" name="star" class="star" value="3" id="rate3"><label for="rate3">★</label>
              <input type="radio" name="star" class="star" value="2" id="rate4"><label for="rate4">★</label>
              <input type="radio" name="star" class="star" value="1" id="rate5"><label for="rate5">★</label>
            </fieldset>
            <div class="detail_review">
              <textarea th:if="${session.user == null}" type="text" id="review" class="review" maxlength="100" cols="90" rows="3" disabled="disabled" placeholder="로그인 후 입력가능합니다."></textarea>
              <textarea th:if="${session.user != null}" type="text" id="review" class="review" maxlength="100" cols="90" rows="3" placeholder="한줄평을 남겨주세요(100자 이하)"></textarea>
              <input type="button" value="등록" title="등록" class="btn btn-outline-secondary" onclick="saveReview()">
            </div>
          </form>
        </div>
        <hr>
        
        

        
        <canvas id="line-chart" width="400" height="200"></canvas>

      </div>
      
    </div>

    <script th:src="@{/js/bread.js}"></script>
    <script th:src="@{/js/book.js}"></script>
  
  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
</body>
</html>