<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('소장자료 검색')}">
  <script th:src="https://cdn.jsdelivr.net/npm/chart.js@3"></script>
</head>


<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">

      <nav class="breadcrumb">
        <ul class="b_menu">
          <li class="home">
            <span class="home_ico">
              <em class="blind"><i class="fa-solid fa-house"></i></em>
            </span>
          </li>
          <li class>
            <a href="#none">자료검색</a>
            <div class="dep_list" style="display: none;">
              <ul>
                <li class>
                  <a href="/book/search.do">자료검색</a>
                </li>
                <li class>
                  <a href="/mypage/list.do">나만의 도서관</a>
                </li>
                <li class>
                  <a href="/support/notice.do">고객센터</a>
                </li>
                <li class>
                  <a href="/mypage/list.do">시설안내</a>
                </li>
                <li class>
                  <a href="/user/login.form">로그인</a>
                </li>
                <li class>
                  <a href="/user/agree.form">회원가입</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <strong class="current"></strong>
          </li>
        </ul>
      </nav>
  
<!-- body -->          

    <div class="wrap wrap_flex">
      <div class="column-2">
        <div class="book_side_bar">
          <h3 style="border-bottom: 1px solid gray; padding-bottom: 30px;">자료 검색</h3>
          <ul id="book_side_list">
            <li><a th:href="@{/mypage/booklist.do}">자료검색</a></li>
            <li><a th:href="@{/mypage/edit.form}">주제별자료검색</a></li>
            <li><a th:href="@{/apply/bookapply.do}">희망도서신청</a></li>
            <li><a th:href="@{/mypage/review.do}">사서추천도서</a></li>
          </ul>      
        </div>        
      </div>
      
      <div class="column-8">
        <div class="detail_bar">
          <a href="javascript:void(0);" id="BackToSearch"><i class="fa-solid fa-arrow-left"></i> 이전 페이지로 돌아가기</a>
        </div>
        <hr>
        <div class="detail_book" th:each="bookDetail:${bookDetailList}">
          <div class="detail_img">
            <img th:src="${bookDetail.cover}"></img>
          </div>
          <div class="detail_info">
            <div class="detail_info_title"><h4 th:text="${bookDetail.title}"></h4></div>
            <div class="detail_info_cate"><span th:text="${bookDetail.categoryName}"></span></div>
            <table class="book_table">
              <tr>
                <th>저자</th>
                <td><div><span th:text="${bookDetail.author}"></span></div></td>
              </tr>
              <tr>
                <th>출판사</th>
                <td><div><span th:text="${bookDetail.publisher}"></span></div></td>
              </tr>
              <tr>
                <th>출간일</th>
                <td><div><span th:text="${bookDetail.pubdate}"></span></div></td>
              </tr>
              
            </table>
            <div class="detail_info_description" th:if="${bookDetail.description}">
                <span th:text="${bookDetail.description}"></span>
            </div>
            <div class="detail_info_description no_dc" th:unless="${bookDetail.description}">
                <span><<span th:text="${bookDetail.title}"></span>>은(는) 도서 정보가 제공되지 않습니다.</span>
            </div>            
            
          </div>          
        </div>
        <hr>

        <div>
          <ul class="detail_menu">
            <li>
              <form method="post" id="WishForm">
                <input type="hidden" name="userNo" th:value="${session.user?.userNo != null ? session.user.userNo : 0}" />
                <input type="hidden" name="isbn" th:value="${bookDetailList[0].isbn}" />
                <input type="hidden" id="wishDate" name="wishDate" />
                <button type="button" class="btn btn-outline-secondary wishBtn" >관심
                  <span th:if="${checkWish == 1}">♥</span>
                  <span th:if="${checkWish == 0}">♡</span>                  
                </button>
              </form>
            </li>
            <li>
              <form th:if="${bookDetailList[0].status == 1}" id="updateCheckoutForm">
                <input type="hidden" name="userNo" th:value="${session.user?.userNo != null ? session.user.userNo : 0}" />
                <input type="hidden" name="isbn" th:value="${bookDetailList[0].isbn}" />
                <input type="hidden" name="checkBookCkCnt" th:value="${checkBookCkCnt}" />
                <input type="hidden" name="checkoutDate" id="checkoutDate" />
                <button type="button" class="btn btn-outline-secondary">대출신청</button>
              </form>
              <button th:if="${bookDetailList[0].status == 0}" type="button" disabled='disabled' class="btn btn-outline-secondary" id="checkout_btn">대출불가</button>
            </li>      
            <li>
              <button type="button" class="btn btn-outline-secondary toggle-guide">이용안내<i class="fa-solid fa-chevron-down"></i></button>
            </li>        
          </ul>
        </div>

        
        <div class="detail_guide hide">
          <dl>
            <dt>책빌리지 대출 안내</dt>
            <dd>
              - 도서 대출 기간은 7일입니다.<br>
              - 5권까지 대출 가능합니다.<br>
              - 연체되었을 경우 ?일동안 대출 불가합니다.<br>
              - 대출 내역은 '나만의 도서관'에서 확인할 수 있습니다.
            </dd>
          </dl>
          <dl>
            <dt>책빌리지 이용 안내</dt>
            <dd>
              - 인신공격, 명예훼손, 혐오/차별/비하/모욕적인 표현 금지<br>
              - 저작권 분쟁의 소지가 있는 글 금지<br>
              - 해당 상품의 내용과 무관한 저자, 출판사 등에 관한 글 금지<br>
              - 독서 후기와 무관한 각종 문의와 요청사항은 고객센터를 이용해주세요.
            </dd>
          </dl>          
        </div>
        <hr>
         
        <h4 class="detail_title">평점 분포</h4>
        <canvas id="barChart" width="400" height="300"></canvas>
        <h5><span class="starAvgText">평균 ★ [[${starAvg} ?: 0.0]]</span></h5>
        <hr>
        
        <div th:if="${not #lists.isEmpty(bestReview)}">
          <h4 class="detail_title">최다 추천 한줄평</h4>
          <div class="el_good best_good"><span th:text="${bestReview[0].good}" style="color: #f0f0f0;"></span>개의 추천</div>
          <div class="score_list">
            <div class="score_list_el best">
              <div class="score_list_left">
                <span class="el_star" th:if="${bestReview[0].star == 5}" >★★★★★</span>
                <span class="el_star" th:if="${bestReview[0].star == 4}" >★★★★☆</span>
                <span class="el_star" th:if="${bestReview[0].star == 3}" >★★★☆☆</span>
                <span class="el_star" th:if="${bestReview[0].star == 2}" >★★☆☆☆</span>
                <span class="el_star" th:if="${bestReview[0].star == 1}" >★☆☆☆☆</span>     
              </div>
              <div class="score_list_right">
                <div class="score_list_right_t">
                  <span class="el_review" th:text="${bestReview[0].review}"></span>
                </div>
                <div class="score_list_right_b">
                  User<span class="el_user" th:text="${bestReview[0].userNo}"></span>
                  <span class="el_reviewDate" th:text="${bestReview[0].reviewDate}"></span>
                </div>
              </div>
              
            </div>
          </div>
          
        <hr>
        </div>  
         
        <h4 class="detail_title">한줄평</h4>
        <div class="no_score" th:if="${#lists.isEmpty(scoreList)}">등록된 한줄평이 없습니다.</div>
        <div th:if="${not #lists.isEmpty(scoreList)}">
          <div class="score_list" th:each="score:${scoreList}">
            <div class="score_list_el">
              <div class="score_list_left">
                <span class="el_star" th:if="${score.star == 5}" >★★★★★</span>
                <span class="el_star" th:if="${score.star == 4}" >★★★★☆</span>
                <span class="el_star" th:if="${score.star == 3}" >★★★☆☆</span>
                <span class="el_star" th:if="${score.star == 2}" >★★☆☆☆</span>
                <span class="el_star" th:if="${score.star == 1}" >★☆☆☆☆</span>     
              </div>
              <div class="score_list_right">
                <div class="score_list_right_t">
                  <span class="el_review" th:text="${score.review}"></span>
                </div>
                <div class="score_list_right_b">
                  User<span class="el_user" th:text="${score.userNo}"></span>
                  <span class="el_reviewDate" th:text="${score.reviewDate}"></span>
                  <div class="el_good"><span th:text="${score.good}"></span>개의 추천을 받았습니다.</div>
                  <span class="my_score el_btn" th:if="${score.userNo != null and score.userNo == session?.user?.userNo}">                   
                    <!-- 삭제 버튼 -->
                    <a class="btn btn-outline-secondary " th:href="@{/book/deleteScore.do(isbn=${score.isbn}, userNo=${score.userNo})}" th:onclick="return confirm('정말로 삭제하시겠습니까?')">삭제 <i class="fa-solid fa-xmark"></i></a>
                  </span>
                  <span class="my_score el_btn" th:unless="${score.userNo != null and score.userNo == session?.user?.userNo}">    
                    <!-- 추천 버튼 -->
                    <a class="btn btn-outline-secondary " th:href="@{/book/likeScore.do(isbn=${score.isbn}, userNo=${score.userNo})}" th:onclick="return confirm('추천하시겠습니까?')">추천 <i class="fa-regular fa-thumbs-up"></i></a>
                  </span>
                  
                </div>
              </div>
              
            </div>
          </div>        
        </div>

         
        <div class="detail_score">
          <form name="score" id="score" class="score" method="post">
            <div class="star_title">별점</div>
            <input type="hidden" name="isbn" th:value="${bookDetailList[0].isbn}">
            <input type="hidden" name="userNo" th:if="${session.user != null}" th:value="${session.user.userNo}" />
            <input type="hidden" name="userNo" th:if="${session.user == null}" th:value="0" />
            <input type="hidden" name="reviewDate">
            <fieldset>
              <input type="radio" name="star" class="star" value="5" id="rate1"><label for="rate1">★</label>
              <input type="radio" name="star" class="star" value="4" id="rate2"><label for="rate2">★</label>
              <input type="radio" name="star" class="star" value="3" id="rate3"><label for="rate3">★</label>
              <input type="radio" name="star" class="star" value="2" id="rate4"><label for="rate4">★</label>
              <input type="radio" name="star" class="star" value="1" id="rate5"><label for="rate5">★</label>
            </fieldset>
            <div class="detail_review">
              <textarea th:if="${session.user == null}" type="text" id="review" class="review" maxlength="100" cols="30" rows="3" disabled="disabled" placeholder="로그인 후 입력가능합니다."></textarea>
              <textarea th:if="${session.user != null}" type="text" id="review" class="review" maxlength="100" cols="30" rows="3" placeholder="한줄평을 남겨주세요(100자 이하)"></textarea>
              <input type="hidden" id="checkScore" name="checkScore" th:value="${checkScore}">
              <input type="button" value="등록" title="등록" class="btn btn-outline-secondary" onclick="saveReview()" >
            </div>
          </form>
        </div>
        <hr>
        
      </div>
      
    </div>
    
    <!--그래프-->
    <script th:inline="javascript">
      document.addEventListener('DOMContentLoaded', function () {
          var ctx = document.getElementById('barChart').getContext('2d');
          
          var cntStarData = /*[[${cntStar}]]*/ null;
          console.log('cntStarData:', cntStarData);

          var labels = cntStarData.map(item => item.star);
          var countStar = cntStarData.map(item => item.countStar);
          console.log(labels);
          console.log(countStar);
          
          var chart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: labels,
                  datasets: [{
                      label: '평점 분포',
                      backgroundColor: 'rgb(255, 99, 132)',
                      borderColor: 'rgb(255, 99, 132)',
                      data: countStar
                  }]
              },
          });
      });
    </script>
    
    

    <script th:src="@{/js/bread.js}"></script>
    <script th:src="@{/js/book.js}"></script>

  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
</body>
</html>