<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('소장자료 검색')}"></head>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">

      
    <div class="wrap search_wrap">     
      <h1> 🛠 기능 준비 중입니다 (23.12.08 ~ 23.12.24) </h1>
      <h3 class="title">추천 도서</h3>
    
      <div class="list_area">
        <h5> <img src="/image/logo_noname.png" width="60px" /> 이 달의 추천 도서 </h5>  
        <div class="recommendContents">
          <div class="bookLi_container">
            <div class="bookLi" th:each="book : ${recoBookList}">
            <a th:href="@{/book/search/detail(userNo=${session.user?.userNo != null ? session.user.userNo : 0}, isbn=${book.isbn})}">
              <img th:src="${book.cover}"/>
            </a>
              <div th:text="${book.title}"></div>
            </div>
          </div>
        </div>
        
        <h5> <img src="/image/logo_noname.png" width="60px"> 베스트 셀러 </h5>
        <div class="bookLi_container">
          <div class="bookLi" th:each="book : ${newBookList}">
            <a th:href="@{/book/search/detail(userNo=${session.user?.userNo != null ? session.user.userNo : 0}, isbn=${book.isbn})}">
              <img th:src="${book.cover}"/>
            </a>
              <div class="" th:text="${book.title}"></div>
          </div>
        </div>          
        
      </div>

    <script th:src="@{/js/bread.js}"></script>
    <script th:src="@{/js/book.js}"></script>
  
  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>