<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('소장자료 검색')}"></head>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">

      <nav class="breadcrumb">
        <ul class="b_menu">
          <li class="home">
            <span class="home_ico">
              <em class="blind"><i class="fa-solid fa-house"></i></em>
            </span>
          </li>
          <li class>
            <a href="#none">자료검색</a>
            <div class="dep_list" style="display: none;">
              <ul>
                <li class>
                  <a href="/book/search.do">자료검색</a>
                </li>
                <li class>
                  <a href="/mypage/list.do">나만의 도서관</a>
                </li>
                <li class>
                  <a href="/support/notice.do">고객센터</a>
                </li>
                <li class>
                  <a href="/apply/faclist.do">시설안내</a>
                </li>
                <li class>
                  <a href="/user/login.form">로그인</a>
                </li>
                <li class>
                  <a href="/user/agree.form">회원가입</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <strong class="current"></strong>
          </li>
        </ul>
      </nav>
      
    <div class="wrap search_wrap">     
      
      <h3 class="title">소장자료 검색</h3>
    
      <div class="search_area">
        <form id="search" name="search" action="search/result" method="get">
          <input type="hidden" name="userNo" th:if="${session.user != null}" th:value="${session.user.userNo}" />
          <input type="hidden" name="userNo" th:if="${session.user == null}" th:value="0" />
   <!--   <input type="hidden" name="pageNum" value="1">
          <input type="hidden" name="pageSize" value="10">  -->
          <div class="search_select">
            <select name="ss" id="ss" class="btn btn-outline-secondary">
              <option value="total" selected>전체</option>
              <option value="title">제목</option>
              <option value="author">저자</option>
            </select>
          </div>
          <div class="search_text">
            <input type="text" id="st" name="st" placeholder="검색어를 입력하세요."> 
          </div>
          <input type="hidden" name="sortType" />
          <div class="search_btn">
            <input type="submit" value="검색" title="검색" class="btn btn-outline-secondary">
          </div>
        </form>
        <div class="PopularWord">
          실시간 급상승: 2024, ... 클릭하면 여기 적혀있는 말 검색되게 해야지 ㅋㅋ
        </div>
      </div>
      
      <div class="list_area">
        <h5> <img src="/image/logo_noname.png" width="60px" /> 추천 도서 </h5>  
        <div class="recommendContents">
          <div class="bookLi_container">
            <div class="bookLi" th:each="book : ${recoBookList}">
            <a th:href="@{/book/search/detail(userNo=${session.user?.userNo != null ? session.user.userNo : 0}, isbn=${book.isbn})}">
              <img th:src="${book.cover}"/>
            </a>
              <div th:text="${book.title}"></div>
            </div>
          </div>
        </div>
        
        <h5> <img src="/image/logo_noname.png" width="60px"> 신간 도서 </h5>
        <div class="bookLi_container">
          <div class="bookLi" th:each="book : ${newBookList}">
            <a th:href="@{/book/search/detail(userNo=${session.user?.userNo != null ? session.user.userNo : 0}, isbn=${book.isbn})}">
              <img th:src="${book.cover}"/>
            </a>
              <div class="" th:text="${book.title}"></div>
          </div>
        </div>          
        
      </div>

    <script th:src="@{/js/bread.js}"></script>
    <script th:src="@{/js/book.js}"></script>
  
  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>