<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bookvillage.dao.AdminMapper">

  <!-- 책 넣기 -->
  <insert id="insertBook" parameterType="bookDto">
    INSERT INTO BOOK(
      ISBN
    , TITLE
    , COVER
    , AUTHOR
    , PUBLISHER
    , PUBDATE
    , DESCRIPTION
    , STATUS
    , CATEGORY_NAME
    , CATEGORY_ID
    ) VALUES(
      #{isbn}
    , #{title}
    , #{cover}
    , #{author}
    , #{publisher}
    , #{pubdate}
    , #{description}
    , 1
    , #{categoryName}
    , #{categoryId}
    )
  </insert>
  
  <select id="getUserList" resultType="UserDto">
    SELECT USER_NO, EMAIL, PW, NAME, MOBILE, GENDER, AGREE, STATE, AUTH, PW_MODIFIED_DATE, JOINED_DATE, STATUS
      FROM USER_T
  </select>
  
</mapper>