<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bookvillage.dao.FacMapper">
	

  <!-- 시설 Map -->
  <resultMap type="AttachFacDto" id="AttachFacMap">
    <id column="FAC_ATTACH_NO"             property="facAttachNo" />
    <result column="FAC_PATH"              property="facPath" />
    <result column="FAC_ORIGINAL_FILENAME" property="facOriginalFilename" />
    <result column="FAC_FILESYSTEM_NAME"   property="facFilesystemName" />
    <result column="FAC_HAS_THUMBNAIL"     property="facHasThumbnail" />
    <association javaType="FacilityDto" property="facilityDto">
      <id column="FAC_NO"          property="facNo" />
      <result column="FAC_NAME"    property="facName" />
      <result column="FAC_CONTENT" property="facContent" />
    </association>
  </resultMap> 
  

  
  <!-- 시설이용신청 Map -->
  <resultMap type="facApplyDto" id="FacApplyMap">
    <id column="FAC_APPLY_NO"     property="facApplyNo" />
    <result column="FAC_REG_DATE" property="facRegDate" />
    <result column="FAC_START"    property="facStart" />
    <result column="FAC_STATUS"   property="facStatus" />
    <association javaType="UserDto" property="userDto">
      <id column="USER_NO" property="userNo" />
      <result column="NAME" property="name" />
    </association>
    <association javaType="FacilityDto" property="facilityDto">
      <id column="FAC_NO" property="facNo" />
      <result column="FAC_NAME" property="facName" />
    </association>
  </resultMap>
  
  <!-- 시설 등록 -->
  <insert id="addFacility" parameterType="FacilityDto">
    INSERT INTO FACILITY(
      FAC_NO
    , FAC_NAME
    , FAC_CONTENT
    ) VALUES (
      FACILITY_SEQ.NEXTVAL
    , #{facName}
    , #{facContent}
    )
  </insert>
  
  <!-- 시설 이미지 등록 -->
  <insert id="addFacImage" parameterType="AttachFacDto">
    INSERT INTO ATTACH_FAC(
      FAC_ATTACH_NO
    , FAC_NO
    , FAC_PATH
    , FAC_ORIGINAL_FILENAME
    , FAC_FILESYSTEM_NAME
    , FAC_HAS_THUMBNAIL
    ) VALUES (
      ATTACH_FAC_SEQ.NEXTVAL
    , FACILITY_SEQ.CURRVAL
    , #{facPath}
    , #{facOriginalFilename}
    , #{facFilesystemName}
    , #{facHasThumbnail}
    )
  </insert>
  
  
  
  <!-- 사용 가능한 시설 조회 -->
  <select id="availableFacList" parameterType="String" resultMap="AttachFacMap">
    SELECT FAC_ATTACH_NO,FAC_PATH, FAC_ORIGINAL_FILENAME, FAC_FILESYSTEM_NAME, FAC_HAS_THUMBNAIL, F.FAC_NO, FAC_NAME, FAC_CONTENT
      FROM ATTACH_FAC AF INNER JOIN FACILITY F
        ON AF.FAC_NO = F.FAC_NO
     WHERE F.FAC_NO NOT IN (SELECT FAC_NO
                              FROM FAC_APPLY
                             WHERE TO_CHAR(FAC_START, 'YYMMDD') = #{facStart})
  </select>
  
  <!-- 사용 불가능한 시설 조회 -->
  <select id="unavailableFacList" parameterType="String" resultMap="AttachFacMap">
    SELECT FAC_ATTACH_NO,FAC_PATH, FAC_ORIGINAL_FILENAME, FAC_FILESYSTEM_NAME, FAC_HAS_THUMBNAIL, F.FAC_NO, FAC_NAME, FAC_CONTENT
      FROM ATTACH_FAC AF INNER JOIN FACILITY F
        ON AF.FAC_NO = F.FAC_NO
     WHERE F.FAC_NO IN (SELECT FAC_NO
                          FROM FAC_APPLY
                         WHERE TO_CHAR(FAC_START, 'YYMMDD') = #{facStart})
  </select>
  
  <!-- 시설 이용 신청 -->
  <insert id="addFacApply" parameterType="Map">
    INSERT INTO FAC_APPLY(
      FAC_APPLY_NO
    , USER_NO
    , FAC_NO
    , FAC_REG_DATE
    , FAC_START
    , FAC_STATUS
    ) VALUES (
      FAC_APPLY_SEQ.NEXTVAL
    , #{userNo}
    , #{facNo}
    , SYSDATE
    , #{facStart}
    , 0
    )
  </insert>
  <!-- 해당유저 해당날짜에 이용신청 여부 확인 -->
  <select id="checkFacApply" parameterType="Map" resultType="boolean">
    SELECT COUNT(*)
      FROM FAC_APPLY
     WHERE USER_NO = #{userNo}
       AND TO_CHAR(FAC_START, 'YYMMDD') = #{facStart}
  </select>
 
  <!-- 시설이용신청 리스트 조회 -->
  <select id="getFacApplyList" resultMap="FacApplyMap">
    SELECT FAC_APPLY_NO, FAC_REG_DATE, FAC_START, FAC_STATUS, FA.USER_NO, NAME, FA.FAC_NO, FAC_NAME
      FROM FAC_APPLY FA INNER JOIN USER_T U
        ON FA.USER_NO = U.USER_NO INNER JOIN FACILITY F
        ON FA.FAC_NO = F.FAC_NO
     WHERE FAC_STATUS = 0
  </select>
  
 
</mapper>