<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bookvillage.dao.FaqMapper">
	
<!-- faq 추가하기 -->
<insert id="insertFaq" parameterType="FaqDto">
    INSERT INTO FAQ (
        FAQ_NO,
        FAQ_TITLE,
        FAQ_CONTENT
    ) VALUES (
        FAQ_SEQ.NEXTVAL,
        #{faqTitle},
        #{faqContent}
    )
</insert>

<!-- faq 리스트 가져오기 -->
  <select id="getFaqCount" resultType="int">
    SELECT COUNT(*)
      FROM FAQ
  </select>
 <select id="getFaqList" parameterType="Map">
  SELECT A.FAQ_NO, A.FAQ_TITLE, A.FAQ_CONTENT
  FROM (
    SELECT ROW_NUMBER() OVER(ORDER BY FAQ_NO DESC) AS RN,
           FAQ.FAQ_NO, FAQ.FAQ_TITLE, FAQ.FAQ_CONTENT
    FROM FAQ
  ) A
  WHERE A.RN BETWEEN #{begin} AND #{end}
</select>
  <select id="getFaq" parameterType="int">
	SELECT FAQ_NO, FAQ_TITLE, FAQ_CONTENT
	  FROM FAQ
	 WHERE FAQ_NO = #{faqNo}	
  </select>
  <delete id="deleteFaq" parameterType="int">
    DELETE FROM FAQ
    WHERE FAQ_NO = #{faqNo}	
  </delete>

  <update id="updateFaq" parameterType="FaqDto">
    UPDATE FAQ
	    SET FAQ_TITLE = #{faqTitle}
	      , FAQ_CONTENT = #{faqContent}
	    WHERE FAQ_NO = #{faqNo}
  </update>
   <select id="faqSearchCount" parameterType="Map" resultType="int">
    SELECT COUNT(*)
      FROM FAQ
     WHERE ${column} LIKE '%' || #{query} || '%'
  </select>
  
  <select id="getSearchFaqList" parameterType="Map" resultType="FaqDto">
	SELECT FAQ_NO, FAQ_TITLE, FAQ_CONTENT
	  FROM (SELECT ROW_NUMBER() OVER(ORDER BY FAQ_NO DESC) AS RN, FAQ_NO, FAQ_TITLE, FAQ_CONTENT
              FROM FAQ
             WHERE ${column} LIKE '%' || #{query} || '%')
    WHERE RN BETWEEN #{begin} AND #{end}
  </select> 
</mapper>