<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bookvillage.dao.ScoreMapper">

  <resultMap id="ScoreMap"           type="kr.co.bookvillage.dto.ScoreDto">
    <id      column="ISBN"           property="isbn" />
    <result  column="USER_NO"        property="userNo" />
    <result  column="REVIEW_DATE"    property="reviewDate" />
    <result  column="STAR"           property="star" />
    <result  column="REVIEW"         property="review" />
  </resultMap>


  
</mapper>