<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bookvillage.dao.ScoreMapper">

  <resultMap id="ScoreMap"           type="kr.co.bookvillage.dto.ScoreDto">
    <id      column="ISBN"           property="isbn" />
    <result  column="USER_NO"        property="userNo" />
    <result  column="REVIEW_DATE"    property="reviewDate" />
    <result  column="STAR"           property="star" />
    <result  column="REVIEW"         property="review" />
    <association javaType="BookDto"  property="bookDto">
      <id     column="ISBN"          property="isbn" />
      <result column="TITLE"         property="title" />
      <result column="AUTHOR"        property="author"/>
      <result column="STATUS"        property="status"/>
    </association>    
  </resultMap>


  <insert id="insertScore" parameterType="ScoreDto">
    INSERT INTO SCORE(
      ISBN
    , USER_NO
    , REVIEW_DATE
    , STAR
    , REVIEW
    ) VALUES(
      #{isbn}
    , #{userNo}
    , #{reviewDate}
    , #{star}
    , #{review}
    )
  </insert>
  
  <select id="getScore" parameterType="String" resultMap="ScoreMap">
    SELECT ISBN, USER_NO, REVIEW_DATE, STAR, REVIEW
      FROM SCORE
     WHERE ISBN = #{isbn}     
  </select>
  
  <select id="getScoreDetail" parameterType="String" resultMap="ScoreMap">
    SELECT S.ISBN, S.USER_NO, S.REVIEW_DATE, S.STAR, S.REVIEW, B.TITLE, B.AUTHOR, B.STATUS
      FROM SCORE S LEFT OUTER JOIN BOOK B
        ON S.ISBN = B.ISBN
     WHERE S.ISBN = #{isbn}     
  </select>
  
  
  <delete id="deleteScore" parameterType="ScoreDto">
    DELETE FROM SCORE 
     WHERE ISBN=#{isbn}
       AND USER_NO=#{userNo}
  </delete>
  
</mapper>