<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bookvillage.dao.ScoreMapper">

  <insert id="insertScore" parameterType="ScoreDto">
    INSERT INTO SCORE(
      ISBN
    , USER_NO
    , REVIEW_DATE
    , STAR
    , REVIEW
    ) VALUES(
      #{isbn}
    , #{userNo}
    , #{reviewDate}
    , #{star}
    , #{review}
    )
  </insert>
  
  <select id="getScoreList" parameterType="String" resultType="ScoreDto">
    SELECT ISBN, USER_NO, REVIEW_DATE, STAR, REVIEW
      FROM SCORE
     WHERE ISBN = #{isbn}     
  </select>
  
  <!-- 평균별점 -->
  <select id="getStarAvg" parameterType="String" resultType="Double">
    SELECT ISBN, AVG(STAR) AS AVERAGE_STAR
      FROM SCORE
     WHERE ISBN = #{isbn} 
     GROUP BY ISBN
  </select>

  <select id="getMyScoreList" parameterType="String" resultType="ScoreDto">
    SELECT S.ISBN, S.USER_NO, S.REVIEW_DATE, S.STAR, S.REVIEW, B.TITLE, B.AUTHOR, B.STATUS
      FROM SCORE S LEFT OUTER JOIN BOOK B
        ON S.ISBN = B.ISBN
     WHERE S.USER_NO = #{userNo}     
  </select>
  
  <delete id="deleteScore" parameterType="ScoreDto">
    DELETE FROM SCORE 
     WHERE ISBN=#{isbn}
       AND USER_NO=#{userNo}
  </delete>
  
  
</mapper>