<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bookvillage.dao.WishMapper">

  <resultMap id="WishMap"            type="kr.co.bookvillage.dto.WishDto">
    <id      column="ISBN"           property="isbn" />
    <result  column="USER_NO"        property="userNo" />
    <result  column="WISH_DATE"      property="wishDate" />
  </resultMap>

  <select id="wishExists" parameterType="wishDto" resultType="int">
    SELECT COUNT(*)
      FROM WISH
     WHERE ISBN = #{isbn}
       AND USER_NO = #{userNo}  
  </select>
  
  <insert id="insertWish" parameterType="WishDto">
    INSERT INTO WISH(
      ISBN
    , USER_NO
    , WISH_DATE
    ) VALUES(
      #{isbn}
    , #{userNo}
    , #{wishDate}
    )
  </insert>

  <delete id="deleteWish" parameterType="WishDto">
    DELETE FROM WISH 
     WHERE ISBN=#{isbn}
       AND USER_NO=#{userNo}
  </delete>
  
</mapper>