<!DOCTYPE html>
<h lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('1:1 문의하기')}"></head>

<style>
  .side_bar {
    width: 200px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    position: fixed;
  }
  #side_list li {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  div.child2{
    width: 800px;
    height: 500px;
    display: inline-block;
    margin-left: 320px;
  }
</style>

  <div th:replace="~{/layout/header::header}"></div>
 <body>

  <div class="parent">
    <div>
      <div class="side_bar">
      <h3 style="border-bottom: 1px solid gray; padding-bottom: 30px;">1:1문의</h3>		  
        <ul>
          <li style="margin:20px"><a th:href="@{/support/list.do}">공지사항</a></li>
      	  <li style="margin:20px"><a th:href="@{/support/faqlist.do}">FAQ</a></li>
	      <li style="margin:20px"><a th:href="@{/support/qnalist.do}">1:1문의</a></li>
        </ul>
      </div>
      <div class="child2">
      <h5 style="text-align: center;">1:1문의하기</h5>
      <div>
	    <form class="frm_ask" method="post" th:action="@{/support/askadd.do}" enctype="multipart/form-data">  	  
	      <div class="mt-3">
	          <label for="askTitle" class="form-label">문의 제목</label>
	          <input type="text" name="askTitle" id="askTitle" class="form-control">
	        </div>
	        <div class="mt-3">
	          <label for="askContent" class="form-label">문의 내용</label>
	          <textarea type="text" name="askContent" id="askContent" class="form-control"></textarea>
	        </div>
	        <div class="mt-3">
	          <label for="files" class="form-label">첨부</label>
	          <input type="file" name="files" id="files" class="form-control" multiple>
	        </div>
	        <div class="attached_list mt-2" id="attached_list"></div>                         
	        <div class="mt-3">
			  <a th:href="@{/support/qnalist.do}">
				<input type="hidden" name="userNo" th:value="${session.user.userNo}">  
	            <button class="btn btn-secondary" type="button">작성취소</button>
	          </a> 
	          <button type="submit" class="btn btn-success">작성완료</button>
	          </div>
      </form> 
      </div> 
   </div>
   </div>
   <script th:inline="javascript">
      $('.frm_ask').submit((ev) => {

        if($('#askTitle').val() === '') {
          alert('문의 제목을 입력해주세요.');
          ev.preventDefault();
          return;
        }
        if($('#askContent').val() === ''){
          alert('문의 내용을 적어주세요.');
          ev.preventDefault();
          return;
        }
        if(!confirm('1:1문의를 등록하시겠습니까?')) {
          ev.preventDefault();
          return;
        }
      })   
      
   </script>
</div>
  <div th:replace="~{/layout/footer::footer}"></div>

</body>
</html>