<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head(|${notice.ntNo}번 공지사항|)}"></head>

<style>
   .side_bar {
    width: 200px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    position: fixed;
  }
  
    #side_list li {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  div.child1{
 	width: 800px;
    display: inline-block;
    margin-left: 320px;

  }
  div.child2{
	border: 1px solid #ccc;
 	width: 800px;
    display: inline-block;

  }
	div.child2-1{
		height:200px;
		margin-top: 10px;
		margin-bottom: 20px;		
	}
	
  
</style>

<body>

  <div th:replace="~{/layout/header::header}"></div>
  <div class="parent">
      <div class="side_bar">
	  <h3 style="border-bottom: 1px solid gray; padding-bottom: 30px;">공지사항</h3>
        <ul>
          <li style="margin:20px"><a th:href="@{/support/list.do}">공지사항</a></li>
      	  <li style="margin:20px"><a th:href="@{/support/faqlist.do}">FAQ</a></li>
	      <li style="margin:20px"><a th:href="@{/support/qnalist.do}">1:1문의</a></li>
        </ul>
      </div>
    
      <div class="child1">  
	  <h5 style="text-align: center;"th:text="|${notice.ntNo}번 공지사항|"></h5>
	  <h5 th:text="|${notice.ntTitle}|"></h5> 
	  <div class="child2">  
        <div th:text="|작성일 : ${notice.ntDate}|"></div>
        <div>내용</div>
          <th:block th:if="${#strings.isEmpty(notice.ntContent)}">
            <div>내용없음</div>
          </th:block>
          <th:block th:if="${not #strings.isEmpty(notice.ntContent)}">
            <div th:text="${notice.ntContent}"></div>
        </th:block>       
      <h6>첨부 다운로드</h6>
          <th:block th:if="${#lists.isEmpty(attachList)}">
            <div>첨부 없음</div>          
          </th:block>
          <th:block th:if="${not #lists.isEmpty(attachList)}">
            <th:block th:each="atc:${attachList}">
              <div class="attach" th:data-attach_nt_no="${atc.attachNtNo}">
                <th:block th:if="${atc.ntHasThumbnail == 1}">
                  <img th:src="@{|${atc.ntPath}/s_${atc.ntFilesystemName}|}" alt="썸네일" width="50">
                </th:block>
                <th:block th:if="${atc.ntHasThumbnail == 0}">
                  <img th:src="@{/image/attach1.png}" alt="썸네일" width="50">
                </th:block>
                <a th:text="${atc.ntOriginalFilename}"></a>
              </div>
            </th:block>
            <div><a th:href="@{/support/downloadAll.do(ntNo=${notice.ntNo})}">모두 다운로드</a></div>
          </th:block>
       
   </div>
  <div class="child2-1">
       <th:block th:if="${session.user != null and session.user.auth == 9}">
       <form id="frm_btn">
        <input type="hidden" name="ntNo" th:value="${notice.ntNo}">
        <button type="button" id="btn_edit" class="btn btn-secondary">편집</button>
        <button type="button" id="btn_remove" class="btn btn-secondary">삭제</button>
        </form>
        </th:block> 
        </div> 	 
      </div>

   <script th:inline="javascript">
 var frmBtn = $('#frm_btn');
    
      const fnEdit = () => {
        $('#btn_edit').click(() => {
          frmBtn.attr('action', '/support/edit.form');
          frmBtn.attr('method', 'get');
          frmBtn.submit();
        })
      }
      
      const fnRemove = () => {
        $('#btn_remove').click(() => {
          if(confirm('해당 게시글을 삭제할까요?')){
            frmBtn.attr('action', '/support/removeNotice.do');
            frmBtn.attr('method', 'post');
            frmBtn.submit();
          }
        })
      }
    
      const fnDownload = () => {
        $('.attach').click(function(){
          if(confirm('다운로드 할까요?')){
            location.href = '/support/download.do?attachNtNo=' + $(this).data('attach_nt_no');
          }
        })
      }
      
      const fnModifyResult = () => {
        let modifyResult = /*[[${modifyResult}]]*/ null;
        if(modifyResult !== null){
          if(modifyResult === 1){
            alert('게시글이 수정되었습니다.');
          } else {
            alert('게시글이 수정되지 않았습니다.');
          }
        }
      }
      
      fnEdit();
      fnRemove();
      fnDownload();
      fnModifyResult();
         
  </script>    
  </div>
  <div th:replace="~{/layout/footer::footer}"></div>

</body>
</html>