<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head(|${notice.ntNo}번 공지사항|)}"></head>

<style>
	div.child1{
		width: 100px;
		height: 300px;
		float:left;
		margin-top: 50px;
		margin-right:20px;
		background-color: lightsteelblue;
		text-align: center;
	}
	div.child2{
		width: 750px;
		height: 200px;
		float:left;
	}
	
</style>

<body>

  <div th:replace="~{/layout/header::header}"></div>
  <div class="parent">
    <div class="wrap wrap_9">
      <div class="child1">
        <ul>
          <li style="margin:20px"><a th:href="@{/support/list.do}">공지사항</a></li>
		  <li style="margin:20px"><a th:href="@{/support/faqlist.do}">FAQ</a></li>
		  <li style="margin:20px"><a th:href="@{/qna/list.do}">1:1문의</a></li>
        </ul>
      </div>
      <h5 style="text-align: center;"th:text="|${notice.ntNo}번 공지사항|"></h5>
      <div class="child2">
		  <div th:text="|작성자 : ${notice.userDto.email}|"></div>
	      <div th:text="|작성일 : ${notice.ntDate}|"></div>
	      <div th:text="|제목 : ${notice.ntTitle}|"></div>
	      <div>내용</div>
	      	<th:block th:if="${#strings.isEmpty(notice.ntContent)}">
	      		<div>내용없음</div>
	      	</th:block>
	      	<th:block th:if="${not #strings.isEmpty(notice.ntContent)}">
	        	<div th:text="${notice.ntContent}"></div>
	      </th:block>	      
			<h6>첨부 다운로드</h6>
	      <div>
	        <th:block th:if="${#lists.isEmpty(attachList)}">
	          <div>첨부 없음</div>          
	        </th:block>
	        <th:block th:if="${not #lists.isEmpty(attachList)}">
	          <th:block th:each="atc:${attachList}">
	            <div class="attach" th:data-attach_no="${atc.attachNo}">
	              <th:block th:if="${atc.ntHasThumbnail == 1}">
	                <img th:src="@{|${atc.ntPath}/s_${atc.ntFilesystemName}|}" alt="썸네일" width="50">
	              </th:block>
	              <th:block th:if="${atc.ntHasThumbnail == 0}">
	                <img th:src="@{/image/attach1.png}" alt="썸네일" width="50">
	              </th:block>
	              <a th:text="${atc.ntOriginalFilename}"></a>
	            </div>
	          </th:block>
	          <div><a th:href="@{/support/downloadAll.do(ntNo=${notice.ntNo})}">모두 다운로드</a></div>
	        </th:block>
	      </div> 
   </div>
   </div>
   <script th:inline="javascript">
 var frmBtn = $('#frm_btn');
    
      const fnEdit = () => {
        $('#btn_edit').click(() => {
          frmBtn.attr('action', '/upload/edit.form');
          frmBtn.attr('method', 'get');
          frmBtn.submit();
        })
      }
      
      const fnRemove = () => {
        $('#btn_remove').click(() => {
          if(confirm('해당 게시글을 삭제할까요?')){
            frmBtn.attr('action', '/upload/removeUpload.do');
            frmBtn.attr('method', 'post');
            frmBtn.submit();
          }
        })
      }
    
      const fnDownload = () => {
        $('.attach').click(function(){
          if(confirm('다운로드 할까요?')){
            location.href = '/upload/download.do?attachNo=' + $(this).data('attach_no');
          }
        })
      }
      
      const fnModifyResult = () => {
        let modifyResult = /*[[${modifyResult}]]*/ null;
        if(modifyResult !== null){
          if(modifyResult === 1){
            alert('게시글이 수정되었습니다.');
          } else {
            alert('게시글이 수정되지 않았습니다.');
          }
        }
      }
      
      fnEdit();
      fnRemove();
      fnDownload();
      fnModifyResult();
      	 
   </script>
</div>
</body>
</html>
