<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('FAQ')}"></head>

<style>
  .side_bar {
    width: 200px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    position: fixed;
  }
  
    #side_list li {
    margin-top: 10px;
    margin-bottom: 20px;
  }
	div.child2{
		width: 800px;
	    height: 500px;
	    display: inline-block;
	    margin-left: 320px;
	}
	div.child2-1{
		border: 1px solid #ccc;
		padding: 10px;
		height:200px;
		margin-top: 10px;
		margin-bottom: 20px;		
	}
	
</style>

<body>

  <div th:replace="~{/layout/header::header}"></div>
  <div class="parent">
    <div>
      <div class="side_bar">
      <h3 style="border-bottom: 1px solid gray; padding-bottom: 30px;">FAQ</h3>		  
        <ul id="side_list">
          <li style="margin:20px"><a th:href="@{/support/list.do}">공지사항</a></li>
		  <li style="margin:20px"><a th:href="@{/support/faqlist.do}">FAQ</a></li>
	      <li style="margin:20px"><a th:href="@{/support/qnalist.do}">1:1문의</a></li>
        </ul>
      </div>
      <div class="child2">
	  <h5 style="text-align: center;">FAQ</h5>
      <h5 th:text="|${faq.faqTitle}|"></h5>
      <div class="child2-1" th:text="${faq.faqContent}"></div>
      </th:block>
        <th:block th:if="${session.user != null and session.user.auth == 9}">
            <form id="frm_btn">
              <input type="hidden" name="faqNo" th:value="${faq.faqNo}">
              <button type="button" id="btn_edit" class="btn btn-secondary">수정</button>
              <button type="button" id="btn_remove" class="btn btn-secondary">삭제</button>
            </form>
          </th:block>
      </div> 
      </div>
   </div>
   </div>
   <script th:inline="javascript">
    var frmBtn = $('#frm_btn');
    
      const fnEdit = () => {
        $('#btn_edit').click(() => {
          frmBtn.attr('action', '/support/editfaq.form');
          frmBtn.attr('method', 'get');
          frmBtn.submit();
        })
      }
      
      const fnRemove = () => {
        $('#btn_remove').click(() => {
          if(confirm('해당 FAQ를 삭제할까요?')){
            frmBtn.attr('action', '/support/removeFaq.do');
            frmBtn.attr('method', 'post');
            frmBtn.submit();
          }
        })
      }
       const fnModifyResult = () => {
        let modifyResult = /*[[${modifyResult}]]*/ null;
        if(modifyResult !== null){
          if(modifyResult === 1){
            alert('FAQ 수정되었습니다.');
          } else {
            alert('FAQ 수정되지 않았습니다.');
          }
        }
      }
      
        fnEdit();
  		fnRemove();
  		fnModifyResult();
   </script>
</div>
  <div th:replace="~{/layout/footer::footer}"></div>

</body>
</html>
