<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head(|${faq.faqNo}번 게시글|)}"></head>

<style>
	.side_bar {
    width: 200px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    position: fixed;
  }
  
  #side_list li {
  padding-top: 10px;
  padding-bottom: 10px;
  }
   #side_list li:hover {
  background-color: #f0f0f0;
  transition: .3s;
}
	div.child2{
		width: 800px;
	    height: 500px;
	    display: inline-block;
	    margin-left: 320px;;
	}
    .btn-spacing {
		margin-top: 17px;
        margin-right: 10px; /* 원하는 여백 크기로 조절하세요 */
    }
</style>

<body>

  <div th:replace="~{/layout/header::header}"></div>
  <div class="parent">
    <div>
      <div class="side_bar">
	    <h3 style="border-bottom: 1px solid gray; padding-bottom: 30px;">FAQ</h3>
        <ul id="side_list">
          <li ><a th:href="@{/support/list.do}">공지사항</a></li>
		  <li><a th:href="@{/support/faqlist.do}">FAQ</a></li>
	      <li ><a th:href="@{/support/qnalist.do}">1:1문의</a></li>
        </ul>
      </div>
      <div class="child2">
		 <h5 style="text-align: center;">FAQ 수정하기</h5>
		<form id="frm_faq_add" method="post" th:action="@{/support/modifyfaq.do}">
	
		<div class="mb-3">
          <label for="faqTitle" class="form-label">제목</label>
          <input type="text" name="faqTitle" th:value="${faq.faqTitle}" id="faqTitle" class="form-control">
        </div>
        
        <div class="mb-3">
          <label for="faqContent" class="form-label">내용</label>
          <textarea name="faqContent" id="faqContent" class="form-control" rows="3" th:text="${faq.faqContent}"></textarea>
        </div>
       		<div class="mb-3">
              <a th:href="@{/support/faqdetail.do(faqNo=${faq.faqNo})}">
                <button class="btn btn-secondary" type="button">돌아가기</button>
              </a>
              <input type="hidden" name="faqNo" th:value="${faq.faqNo}">
              <button type="submit" id="btn_modify" class="btn btn-success">수정하기</button>
            </div>
	    </form>
    </div>
    <script th:inline="javascript">
		
      const fnSubmit = () => {
    	  $('#frm_faq_add').submit((ev) => {
    		  if($('#faqTitle').val() === ''){
    			  alert('제목은 반드시 입력해야 합니다.');
    			  $('#faqTitle').focus();
    			  ev.preventDefault();
    			  return;
    		  }
    	  })
      }
      
      fnSubmit();
		</script>  
      </div>
   </div>  
  <div th:replace="~{/layout/footer::footer}"></div>

</body>
</html>











