<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('공지사항')}"></head>

<style>
  .side_bar {
    width: 200px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    position: fixed;
  }
  
    #side_list li {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  div.child2{
    width: 800px;
    display: inline-block;
    text-align: center; 
    margin-left: 320px;
  }
  div.btn{
	margin-left: 300px;  
	  
  }    
  
</style>
  <div th:replace="~{/layout/header::header}"></div>

<body>

  <div class="parent">
    <div>
      <div class="side_bar">
      <h3 style="border-bottom: 1px solid gray; padding-bottom: 30px;">공지사항</h3>
        <ul id="side_list">
          <li style="margin:20px"><a th:href="@{/support/list.do}">공지사항</a></li>
      	  <li style="margin:20px"><a th:href="@{/support/faqlist.do}">FAQ</a></li>
          <li style="margin:20px"><a th:href="@{/qna/list.do}">1:1문의</a></li>
        </ul>
      </div>
		<div class="child2">
		   <h5 style="text-align: center;">공지사항</h5>
		</div>   
		<div class="btn">
        <!-- 관리자로 로그인 한 경우 -->
        <th:block th:if="${session.user != null and session.user.auth == 9}">
        <a th:href="@{/support/write.form}">
            <button type="button" class="btn btn-secondary">새 공지 작성하기</button>
          </a>       
        </th:block> 
        </div>
      <div class="child2"> 
       <div id="notice_list" class="notice_list"></div>
      </div>

           <script th:inline="javascript">
  // 전역 변수
    
      // 전역 변수
      var page = 1;
      var totalPage = 0;
    
     
     const fnGetNoticeList = () => {
    $.ajax({
        // 요청
        type: 'get',
        url: '/support/getList.do',
        data: 'page=' + page,
        // 응답
        dataType: 'json',
        success: (resData) => {  
            totalPage = resData.totalPage;
            let str = '';
            // 여기서 align-middle의 따옴표가 빠져있었습니다.
            str += '<div><table class="table align-middle"><thead><tr><th>순번</th><th>제목</th><th>내용</th><th>작성일</th></tr></thead><tbody>';
            $.each(resData.noticeList, (i, notice) => {
				const truncatedTitle = notice.ntTitle.length > 10 ? notice.ntTitle.substring(0, 10) + '...' : notice.ntTitle;
				const truncatedContent = notice.ntContent.length > 10 ? notice.ntContent.substring(0, 10) + '...' : notice.ntContent;
				str += '<tr><td>' + notice.ntNo + '</td>';
                str += '<td><a href="/support/detail.do?ntNo='+ notice.ntNo + '">' + truncatedTitle + '</a></td>';
                str += '<td>' + truncatedContent + '</td>';                
                str += '<td>' + notice.ntDate + '</td></tr>';
                
            });
            // 여기서 순서를 바꾸어서 #notice_list에 먼저 추가하도록 수정했습니다.
            $('#notice_list').append(str);
            str += '</tbody></table></div>';
        }
    });
}
      const fnNoticeDetail = () => {
        $(document).on('click', '.notice', function(){
          location.href = '/support/detail.do?ntNo=' + $(this).data('nt_no');
        })
      }
    
      const fnScroll = () => {
        
        var timerId;  // 최초 undefined 상태
        
        $(window).on('scroll', () => {
          
          if(timerId){  // timerId가 undefined이면 false로 인식, timerId가 값을 가지면 true로 인식
            clearTimeout(timerId);
          }
          
          timerId = setTimeout(() => {  // setTimeout 실행 전에는 timerId가 undefined 상태, setTimeout이 한 번이라도 동작하면 timerId가 값을 가짐
            
            let scrollTop = $(window).scrollTop();     // 스크롤바 위치(스크롤 된 길이)
            let windowHeight = $(window).height();     // 화면 전체 크기
            let documentHeight = $(document).height(); // 문서 전체 크기
            
            if((scrollTop + windowHeight + 100) >= documentHeight) {  // 스크롤이 바닥에 닿기 100px 전에 true가 됨
              if(page > totalPage){  // 마지막 페이지를 보여준 이후에 true가 됨
                return;              // 마지막 페이지를 보여준 이후에는 아래 코드를 수행하지 말 것 
              }
              page++;
              fnGetNoticeList();
            }
            
          }, 200);  // 200밀리초(0.2초) 후 동작(시간은 임의로 조정 가능함)
          
        })
        
      }
      
      const fnAddResult = () => {
        let addResult = /*[[${addResult}]]*/ null;
        if(addResult !== null){
          if(addResult === true){
            alert('공지사항이 업로드 되었습니다.');
            $('#notice_list').empty();
          } else {
            alert('공지사항 업로드가 실패하였습니다.');
          }
        }
      }
      
      const fnRemoveResult = () => {
        let removeResult = /*[[${removeResult}]]*/ null;
        if(removeResult !== null){
          if(removeResult === 1){
            alert('공지사항이 삭제되었습니다.');
            $('#notice_list').empty();
          } else {
            alert('공지사항 삭제가 실패했습니다.');
          }
        }
      }
      
      fnGetNoticeList();
      fnNoticeDetail();
      fnScroll();
      fnAddResult();
      fnRemoveResult();
   </script>

</div>

</body>
</html>