<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('공지사항')}"></head>

<style>
</style>

<body>

  <div th:replace="~{/layout/header::header}"></div>
  <div class="main_wrap">
    <div class="wrap wrap_9">
      <div>
        <ul>
          <li><a th:href="${contextPath}/support/notice.do">공지사항</a></li>
          <li><a th:href="${contextPath}/support/faq.do">FAQ</a></li>
          <li><a th:href="${contextPath}/qna/list.do">1:1문의</a></li>
        </ul>
      </div>
      <div>
        <!-- 관리자로 로그인 한 경우 -->
        <th:block th:if="${session.user != null and session.user.state == 9}">
          <a th:href="@{/support/noticewrite.form}">
            <button type="button" class="btn btn-outline-primary">새 공지 작성하기</button>
          </a>
        </th:block>
      </div>
      <div class="table-responsive">
        <table class="table align-middle">
          <thead>
            <tr>
              <td>순번</td>
              <td>제목</td>
              <td>작성일자</td>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="n, vs:${notice}">
              <tr class="align-bottom">
                <td th:text="${beginNo - vs.index}"></td>
                <td th:text="${n.ntTitle}"></td>
                <td th:text="${n.ntDate}"></td>
              </tr>
            </th:block>
          </tbody>
          <tfoot th:if="${not #lists.isEmpty(notice)}">
            <tr>
              <td colspan="3" th:utext="${paging}"></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div th:replace="~{/layout/footer::footer}"></div>
    </div>
  </div>
</body>

</html>
