<!DOCTYPE html>
<h lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('새 공지사항 작성하기')}"></head>

<style>
	div.child1{
		width: 100px;
		height: 300px;
		float:left;
		margin-top: 50px;
		margin-right:20px;
		background-color: lightsteelblue;
		text-align: center;
	}
	div.child2{
		width: 750px;
		height: 200px;
		float:left;
	}
	
</style>
<body>

  <div th:replace="~{/layout/header::header}"></div>
  <div class="parent">
    <div class="wrap wrap_9">
      <div class="child1">
        <ul>
          <li style="margin:20px"><a th:href="@{/support/list.do}">공지사항</a></li>
		  <li style="margin:20px"><a th:href="@{/support/faqlist.do}">FAQ</a></li>
		  <li style="margin:20px"><a th:href="@{/qna/list.do}">1:1문의</a></li>
        </ul>
      </div>
      <h5 style="text-align: center;">공지사항 작성하기</h5>
      <div class="child2">
      <div>
		  
      <form id="frm_notice_add" method="post" th:action="@{/support/add.do}" enctype="multipart/form-data">
        <div class="mt-3">
          <label for="email" class="form-label">작성자</label>
          <input type="text" id="email" class="form-control-plaintext" th:value="${session.user.email}" readonly>
        </div>     
        <div class="mt-3">
          <label for="ntTitle" class="form-label">제목</label>
          <input type="text" name="ntTitle" id="ntTitle" class="form-control">
        </div>
        <div class="mt-3">
          <label for="ntContent" class="form-label">내용</label>
          <textarea rows="3" name="ntContent" id="ntContent" class="form-control"></textarea>
        </div>
        <div class="mt-3">
          <label for="files" class="form-label">첨부</label>
          <input type="file" name="files" id="files" class="form-control" multiple>
        </div>
        <div class="attached_list mt-2" id="attached_list"></div>       
        <div class="text-center mt-5">
		  <a th:href="@{/support/list.do}">
            <button class="btn btn-secondary" type="button">작성취소</button>
          </a> 
          <button type="submit" class="btn btn-primary">작성완료</button>
          </div>
      </form>	
      </div> 
   </div>
   </div>
   <script th:inline="javascript">
	 const fnFileCheck = () => {
	        $('#files').change((ev) => {
	          $('#attached_list').empty();
	          let maxSize = 1024 * 1024 * 100;
	          let maxSizePerFile = 1024 * 1024 * 10;
	          let totalSize = 0;
	          let files = ev.target.files;
	          for(let i = 0; i < files.length; i++){
	            totalSize += files[i].size;
	            if(files[i].size > maxSizePerFile){
	              alert('각 첨부파일의 최대 크기는 10MB입니다.');
	              $(ev.target).val('');
	              $('#attached_list').empty();
	              return;
	            }
	            $('#attached_list').append('<div>' + files[i].name + '</div>');
	          }
	          if(totalSize > maxSize){
	            alert('전체 첨부파일의 최대 크기는 100MB입니다.');
	            $(ev.target).val('');
	            $('#attached_list').empty();
	            return;
	          }
	        })
	      }
      
      const fnSubmit = () => {
    	  $('#frm_notice_add').submit((ev) => {
    		  if($('#ntTitle').val() === ''){
    			  alert('제목은 반드시 입력해야 합니다.');
    			  $('#ntTitle').focus();
    			  ev.preventDefault();
    			  return;
    		  }
    	  })
      }
      
      fnFileCheck();
      fnSubmit();
      
   </script>
</div>
</body>
</html>
