<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('시설 신청')}"></head>

<style>
	div.child1{
		width: 100px;
		height: 300px;
		float:left;
		margin-top: 50px;
		margin-right:20px;
		background-color: lightsteelblue;
		text-align: center;
	}
	div.child2{
		width: 750px;
		height: 200px;
		float:left;
	}
	
</style>

<body>

  <div th:replace="~{/layout/header::header}"></div>
  <div class="parent">
    <div class="wrap wrap_9">
      <div class="child1">d
        <ul>
          <li style="margin:20px"><a th:href="@{/apply/faclist.do}">시설이용신청</a></li>
		  <li style="margin:20px"><a th:href="@{/support/faqlist.do}">희망도서신청</a></li>
        </ul>
      </div>
      <h5 style="text-align: center;">시설 이용 신청</h5>	
      <div id='calendar'></div>
		  
	  </div>
	   <div class="child2">
	      <div th:text="|시설번호 ${fac.facNo}|"></div>
	      <div th:text="|시설이름 ${fac.facName}|"></div>	      
	      <div th:text="|시설성명 : ${fac.facContent}|"></div>	
	   </div>
   </div>
   <script th:inline="javascript">
	document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
			initialView : 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
			headerToolbar : { // 헤더에 표시할 툴 바
				start : 'prev next today',
				center : 'title',
				end : 'dayGridMonth,dayGridWeek,dayGridDay'
			},
			titleFormat : function(date) {
				return date.date.year + '년 ' + (parseInt(date.date.month) + 1) + '월';
			},
			//initialDate: '2021-07-15', // 초기 날짜 설정 (설정하지 않으면 오늘 날짜가 보인다.)
			selectable : true, // 달력 일자 드래그 설정가능
			droppable : true,
			editable : true,
			nowIndicator: true, // 현재 시간 마크
			locale: 'ko', // 한국어 설정
			dateClick: function(info) {
          alert('Clicked on: ' + info.dateStr);
        }
		});
		calendar.render();
	});
	      	 
   </script>
</div>
</body>
</html>
