<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  
<head th:replace="~{/layout/header::head('시설신청')}">
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://unpkg.com/tippy.js@6"></script>	
</head>

<style>
  .side_bar {
    width: 200px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    position: fixed;
  }
  #side_list li {
  padding-top: 10px;
  padding-bottom: 10px;
  }
   #side_list li:hover {
  background-color: #f0f0f0;
  transition: .3s;
}
  .parent {
	      margin-left: 320px;
	      display: flex;
    flex-direction: row; /* 가로로 배치되도록 설정 */
  }
  div.child1{
	margin-top: 30px;	  
    width: 800px;
    justify-content: center;
    margin-left: 320px;
    align-items: center;
    text-align: center;
    
  }
  div.child2{
    display: flex;

    
  }
  div.child3{
      margin-left: 20px;
      font-size: 15px;

  }
  div.faclist{
  	  border: 1px solid #ccc; /* 테두리 선 스타일 및 색상 지정 */
 	  padding: 10px; /* 테두리와 내용 사이의 간격 지정 */      
  }
  /* 캘린더 크기 조절 */
  #calendar {
    width: 500px;
  }
  /* 모달 이미지 크기 조절 */  
  .facimg {
    width: 300px;
  }
   /* 캘린더 좌측 우측 아이콘 색상 */
  .fc-icon-chevron-right, .fc-icon-chevron-left {
    color: #ffffff;
  }

</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
	 
     <div class="side_bar">
	  <h3 style="border-bottom: 1px solid gray; padding-bottom: 30px;">시설이용신청</h3>
        <ul id="side_list">
          <li><a th:href="@{/apply/fac.do}">시설이용신청</a></li>			
		  <li><a th:href="@{/apply/wishbook.do}">희망도서신청</a></li>
        </ul>
      
      </div>
	  <div class="child1">
     	<h5>시설이용신청</h5>
     	<h6>희망하시는 날짜를 선택해주세요</h6>
      </div>
     <div class="parent">   
	  <div class="child2">
	    <div id='calendar'></div>
	  </div>
 	<div class="child3" id="child3">
      <!-- 여기에 동적으로 생성된 내용이 표시됩니다. -->
    </div>
  </div>
  

  
  <script th:inline="javascript">
    
    
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView : 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
        headerToolbar : { // 헤더에 표시할 툴 바
          left : 'prev',
          center : 'title',
          right : 'next'
        },
        titleFormat : function(date) {
          return date.date.year + '년 ' + (parseInt(date.date.month) + 1) + '월';
        },
        //initialDate: '2021-07-15', // 초기 날짜 설정 (설정하지 않으면 오늘 날짜가 보인다.)
        selectable : true, // 달력 일자 드래그 설정가능
        droppable : true,
        editable : false,
        nowIndicator: true, // 현재 시간 마크
        locale: 'ko', // 한국어 설정
        dateClick: function(info) {  // 날짜 클릭이벤트 진행
          let user = /*[[${session.user}]]*/ null;
          if(user === null) {   // 로그인 여부 체크
            if(confirm('로그인이 필요한 기능입니다. 로그인 하시겠습니까?')){
              location.href='/user/login.form';
              return; 
            } else {
              return;            
            }          
          }
          
          var today = new Date();

          var year = today.getFullYear();
          var month = ('0' + (today.getMonth() + 1)).slice(-2);
          var day = ('0' + today.getDate()).slice(-2);
          
          var todayFormat = year + '-' + month  + '-' + day;
          var clickDate = info.dateStr;
          // 모든 날짜의 셀 엘리먼트 가져오기
          var allCells = document.querySelectorAll('.fc-day');

            // 모든 셀의 배경색 초기화
            allCells.forEach(function(cell) {
                cell.style.backgroundColor = '';
            });
          var cellEl = info.dayEl;


            // 원하는 배경색으로 변경
	    	cellEl.style.backgroundColor = '#87CEEB';
          
          
          if(todayFormat >= clickDate) {  // 당일 또는 이전날짜 클릭 시 조회 못하게 막음
            alert('당일 또는 이전 날짜는 조회하실 수 없습니다.');
            return;
          }
          
          
          $.ajax({  // 해당 유저가 클릭한 날짜에 이용신청 했는지 확인
            method: 'post',
            url: '/apply/checkFacApply.do',
            data:{"userNo": user.userNo, "facStart": info.dateStr},
            dataType: 'json',
            success: (resData) => {
              console.log(resData.checkResult);
              if(resData.checkResult === true){
                alert(user.name + '님은 ' + info.dateStr + '일에 이용 신청하신 시설이 있습니다.\n같은날에 2개의 시설은 이용이 불가합니다.');
                return;
              } else {
                fnfaclist(info, user);
              }
            }
          })
        },

      });
      calendar.render();
    });
	    
	const fnfaclist = (info, user) => {
	  let container = document.querySelector('.child3');
      container.innerHTML = '';
	  $.ajax({
	    method: 'get',
	    url: "/apply/facTotalList.do",
	    data: 'facStart=' + info.dateStr,
	    dataType: 'json',
	    success: function (resData) {
	      var content = '';
	      if (resData.availableFacList.length > 0) {
	        content += '<h5><strong>이용가능한시설</strong></h5>'
	        $.each(resData.availableFacList, (i, f) => {
	          content += '<div class="faclist">';
	          content += '<img class="facimg" src="' + f.facPath + '/' + f.facFilesystemName + '">';
	          content += '	<div>';
	          content += '  	<div><h6>시설이름 : ' + f.facilityDto.facName + '</h6></div>';
	          content += '		<div><h6>시설설명 :' + f.facilityDto.facContent + '</h6></div>';
	          content += '	</div>';
	          content += '<div style="text-align: right;">';  // 오른쪽 정렬 스타일 추가
              content += '        <form class="frm_fac_apply" method="post" th:action="@{/apply/addFacApply.do}">';
              content += '          <input type="hidden" name="userNo" value="'+user.userNo+'">';
              content += '          <input type="hidden" name="facNo" value="'+f.facilityDto.facNo+'">';
              content += '          <input type="hidden" name="facStart" value="'+info.dateStr+'">';
              content += '          <input type="hidden" name="facName" value="'+f.facilityDto.facName+'">';
              content += '          <button type="button" class="btn btn-secondary btn_add_fac_apply">예약</button>';
              content += '        </form>';	
              content += '</div>'  
              content += '</div>';
	        })
	      }
	       if (resData.unavailableFacList.length > 0) {
        content += '<h5><strong>이용불가능한시설</strong></h5>'
        $.each(resData.unavailableFacList, (i, f) => {
          content += '<div class="faclist">';
              content += '    <img class="facimg" src="' + f.facPath + '/' + f.facFilesystemName + '">';
              content += '    <div>';
              content += '      <div><h6>시설명 : '+f.facilityDto.facName+'</h6></div>';
              content += '      <div><h6>'+f.facilityDto.facContent+'</h6></div>';
              content += '    </div>';
          content += '</div>';
        })
      }

      container.innerHTML = content;
    }
  })
}
  
   const fnAddFacApply = () => {
     $(document).on('click', '.btn_add_fac_apply', (ev) => {
       let facName = $(ev.target).prev().val();
       if(!confirm(facName + ' 이용을 신청하겠습니까?')){
         return;
       }
       
       $.ajax({
         method: 'post',
         url: '/apply/addFacApply.do',
         data: $(ev.target).closest('.frm_fac_apply').serialize(),
         dataType: 'json',
         success: (resData) => {
           console.log(resData.addResult);
           if(resData.addResult === 1){
           alert(facName + '이용 신청 완료!');
    		 window.location.replace('/apply/fac.do');

           }
         }
       })
       
     })
   }
   
   fnAddFacApply();
  </script>
  
  <div th:replace="~{/layout/footer::footer}"></div>

</body>
</html>