<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('시설 신청')}"></head>

<style>
	div.child1{
		width: 100px;
		height: 300px;
		float:left;
		margin-top: 50px;
		margin-right:20px;
		background-color: lightsteelblue;
		text-align: center;
	}
	div.child2{
		width: 750px;
		height: 200px;
		float:left;
	}
	div.cal{
		width: 500px;
		float:left;
		text-align: center;
	}
	div.fac{
		width: 100px;
		margin-top: 70px;
		margin-left: 20px;
		float:left;
	}
</style>

<body>

  <div th:replace="~{/layout/header::header}"></div>
  <div class="parent">
    <div class="wrap wrap_9">
      <div class="child1">
        <ul>
          <li style="margin:20px"><a th:href="@{/apply/faclist.do}">시설이용신청</a></li>
		  <li style="margin:20px"><a th:href="@{/}">희망도서신청</a></li>
        </ul>
      </div>
      <h5 style="text-align: center;">시설 이용 신청</h5>	
		  
	  </div>
		<div class="child2">
		    <div class="cal" id='calendar'></div>
		    <div class="fac">
			   <div th:each="f : ${faclist}">
		        	<button class="btn btn-secondary" th:text="${f.facName}"></button>
		      </div>
		    </div>
		</div>
   </div>
   <script th:inline="javascript">
	
   </script>
</div>
</body>
</html>
