<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('휴면해제')}"></head>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">
    
    <div class="wrap wrap_5">
    
      <h1 class="title">휴면계정안내</h1>
      
      <div class="mt-5" th:text="|${session.inactiveUser.email}님은 1년 이상 로그인하지 않아 관계 법령에 의해서 휴면회원으로 전환되었습니다.|"></div>
      
      <div class="mt-5 text-center" th:text="|휴면전환일 : ${session.inactiveUser.inactiveDate}|"></div>
      
      <div class="mt-5 text-center">휴면해제를 위해서 휴면해제 버튼을 클릭하세요.</div>
      <div class="mt-3 text-center"><button type="button" id="btn_active" class="btn btn-primary">휴면해제</button></div>
    
    </div>
    
    <script>
      const fnActive = () => {
        $('#btn_active').click(() => {
          location.href = '/user/active.do';
        })
      }
      fnActive();
    </script>

  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>