<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('아이디/비밀번호찾기')}"></head>

<script th:src="@{/js/findId.js(ver=1.0)}"></script>

<style>
  .password-form {
    display: none;
  }
  
  .title-container {
    display: flex;
    justify-content: center;
  }

  .title-container h1 {
    cursor: pointer;
    margin: 0px 20px;
  }

  #result_id{
    margin-top: 20px;
    font-size: medium;
  }
  
  .info_pw{
    margin:10px;
    font-size: small;
    color: lightslategrey;
  }
</style>

<body>
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">
    <div class="wrap wrap_7">
      <div class="title-container">
        <h1 class="title" id="idTitle" onclick="toggleForm('id')">아이디 찾기</h1>
        <h1 class="title" id="passwordTitle" onclick="toggleForm('password')">비밀번호 찾기</h1>
      </div>
      
      <div id="result_id"></div>

      <form id="frm_find_id" class="mt-5" method="post" th:action="@{/user/findId.do}">
          
        <div class="row mb-2">
          <label for="name" class="col-sm-3 col-form-label">이름</label>
          <div class="col-sm-9"><input type="text" name="name" id="name" class="form-control"></div>
        </div>
        
        <div class="row mb-2">
          <label for="mobile" class="col-sm-3 col-form-label">전화번호</label>
          <div class="col-sm-9"><input type="text" name="mobile" id="mobile" class="form-control"></div>
        </div>
        
        <div class="text-center mt-3">
          <button type="button" id="find_id" class="btn btn-primary" style="margin-right: 20px;">이메일 찾기</button>
          <button type="button" onclick="history.go(-1);" class="btn btn-primary" >로그인</button>
        </div>
        
      </form>
      
      <!-- 비밀번호 찾기 폼 -->
      <div class="password-form">
        <form id="frm_find_password" class="mt-5" method="post" th:action="@{/user/findPassword.do}">


        <div class="row mb-2">
          <label for="email" class="col-sm-3 col-form-label">이메일</label>
          <div class="col-sm-6"><input type="text" name="email" id="email" placeholder="이메일" class="form-control"></div>
          <div class="col-sm-3 d-grid gap-2"><button type="button" id="btn_getTempPw"  class="btn btn-outline-success">임시 비번 발송</button></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-9" id="msg_emailTmpPW"></div>
        </div>
        
        <hr>
       
              
        <div class="info_pw"> ＊SNS계정(네이버)으로 가입한 회원은 비밀번호 찾기가 제공되지 않습니다.</div>    
          
          
          <div class="text-center mt-3">
            <a href="@{/mypage/modifyPw.form}"><button type="button" id="btn_modify_pw" class="btn btn-danger">비밀번호변경하기</button></a>
            <button type="button" onclick="history.go(-1);" class="btn btn-primary">로그인</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div th:replace="~{/layout/footer::footer}"></div>
  
<script>





</script>

</body>
</html>
