<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('로그인')}"></head>

<style>
  .sub_menu {
    display: flex;
    justify-content: space-between;
  }
</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">
  
    <div class="wrap wrap_5">
    
      <h1 class="title">로그인</h1>
      
      
      <form method="post" th:action="@{/user/login.do}">
      
        <div class="mb-3 row">
          <label for="email" class="col-sm-3 col-form-label">아이디</label>
          <div class="col-sm-9"><input type="text" name="email" id="email" placeholder="이메일" class="form-control"></div>
        </div>
        
        <div class="mb-3 row">      
          <label for="pw" class="col-sm-3 col-form-label">비밀번호</label>
          <div class="col-sm-9"><input type="password" name="pw" id="pw" placeholder="●●●●" class="form-control"></div>
        </div>
        
        <div class="d-grid gap-2 mb-3">
          <input type="hidden" name="referer" th:value="${referer}">
          <button class="btn btn-primary btn-lg" type="submit">로그인</button>
        </div>
        
      </form>
      
      <ul class="sub_menu">
        <li><a th:href="@{/user/agree.form}">회원가입</a>
        <li><a th:href="@{/user/find.form}">아이디/비밀번호 찾기</a>
      </ul> 
      
      <hr class="my-4">
      
      <div class="text-center">
        <a th:href="${naverLoginURL}">
          <img th:src="@{/image/btnG_완성형.png}" width="200px">
        </a>
      </div>
      
    </div>

  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>