<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{layout/header::head('네이버간편가입')}"></head>

<script>
  
  $(() => {
    fnNaverJoin();
  })
  
  const fnNaverJoin = () => {
    $('#frm_naver_join').submit((ev) => {
      if(!$('#service').is(':checked')){
        alert('이용약관에 동의하세요.');
        ev.preventDefault();
        return;
      }
    })
  }
  
</script>

<body>
  
  <div th:replace="~{layout/header::header}"></div>
  
  <div class="main_wrap">

    <div class="wrap wrap_6">
    
      <h1 class="title">네이버 간편가입</h1>
    
      <form id="frm_naver_join" method="post" th:action="@{/user/naver/join.do}">
        
        <div class="row mb-2">
          <label for="email" class="col-sm-3 col-form-label">이메일</label>
          <div class="col-sm-9"><input type="text" name="email" id="email" class="form-control" th:value="${naverProfile.email}" readonly></div>
        </div>
        
        <div class="row mb-2">
          <label for="name" class="col-sm-3 col-form-label">이름</label>
          <div class="col-sm-9"><input type="text" name="name" id="name" class="form-control" th:value="${naverProfile.name}" readonly></div>
        </div>
    
        <div class="row mb-2">
          <label for="mobile" class="col-sm-3 col-form-label">휴대전화번호</label>
          <div class="col-sm-9"><input type="text" name="mobile" id="mobile" class="form-control" th:value="${naverProfile.mobile}" readonly></div>
        </div>
    
        <div class="row mb-2">
          <label class="col-sm-3 form-label">성별</label>
          <div class="col-sm-3">
            <input type="radio" name="gender" value="0" id="man" class="form-check-input">
            <label class="form-check-label" for="man">남자</label>
          </div>
          <div class="col-sm-3">
            <input type="radio" name="gender" value="1" id="woman" class="form-check-input">
            <label class="form-check-label" for="woman">여자</label>
          </div>
        </div>
        <script th:inline="javascript">
          $(':radio[value=[[${naverProfile.gender}]]]').prop('checked', true);
        </script>
    
        <hr class="my-3">
        
        <div class="form-check mt-3">
          <input type="checkbox" name="service" class="form-check-input chk_each" id="service">
          <label class="form-check-label" for="service">
            서비스 이용약관 동의(필수)
          </label>
        </div>
        <div>
          <textarea rows="5" class="form-control">
제 1 장 총 칙 
제 1 조 (목적)

이 약관은 책빌리지 홈페이지가 제공하는 통합회원 서비스(이하 "서비스"라 합니다)를 이용함에 있어 이용자와 책빌리지의 권리·의무 및 책임사항과 기타 필요한 사항을 규정함을 목적으로 합니다.
제 2 조 (약관의 효력 및 변경)

① 이 약관은 서비스 화면에 게시하거나 기타의 방법으로 공지함으로써 이용자에게 공시하고, 이에 동의한 이용자가 서비스에 가입함으로써 효력이 발생합니다.
② 책빌리지는 필요하다고 인정되는 경우 이 약관의 내용을 변경할 수 있으며, 변경된 약관은 서비스 화면에 공지함으로써 이용자가 직접 확인할 수 있도록 할 것입니다.
            </textarea>
        </div>
        
        <div class="form-check mt-3">
          <input type="checkbox" name="event" class="form-check-input chk_each" id="event">
          <label class="form-check-label" for="event">
            이벤트 알림 동의(선택)
          </label>
        </div>
        <div>
          <textarea rows="5" class="form-control">
이벤트, 혜택등 책빌리지에서 제공하는 유익한 정보를 SMS나 이메일로 받아보실 수 있습니다.

단, 주요 정책과 관련된 내용은 수신동의 여부와 관계없이 발송됩니다.

선택 약관에 동의하지 않으셔도 회원가입은 가능하며, 회원가입 후 회원정보수정 페이지에서 언제든지 수신여부를 변경하실 수 있습니다.            
            
            </textarea>
        </div>
        
        <hr class="my-3">
    
        <div class="text-center">
          <button type="submit" class="btn btn-primary">회원가입하기</button>
        </div>
        
      </form>
    
    </div>

  </div>
  
  <div th:replace="~{layout/footer::footer}"></div>
  
</body>
</html>