<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/header::head('아이디찾기')}"></head>

<script th:src="@{/js/user_modify_pw.js(ver=1.0)}"></script>

<body>
  
  <div>
    <div>
      <h1>비밀번호 변경하기</h1>   
      
      <form>
        <div>
          <label for="pw">비밀번호</label>
          <input type="password" name="pw" id="pw">
        </div>
        <div>
          <label for="pw2">비밀번호 확인</label>
          <input type="password" name="pw2" id="pw2">
        </div>    
        <div>
          <input type="hidden" name="email" value="${session.user.email}">
          <button type="submit">비밀번호 변경하기</button>
          
        </div>  
      </form>   
    </div>    
  </div>
  
  <div th:replace="~{layout/footer::footer}"></div>
  
</body>
</html>