@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

/*common*/
.wrap_flex {
  display: flex; /*2단 레이아웃 구성 위한 flex*/
  position: relative;
  text-align: center;
}

/*좌측*/
.menu_title {
  background-color: aquamarine;
  height: 200px;
  
}

/*search*/
/*검색*/
.search_wrap {
  position: relative;
  text-align: center;
}
/*검색영역*/
.search_area {
  align-items: center;
  position: relative;
}
/*검색영역 > 셀렉트 */
.search_select {
  display: inline-block;
}
/*검색영역 > 검색창 */
.search_text {
  display: inline-block;
}
.search_text input{
  width: 300px;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 3px solid rgb(37, 94, 188);
}
/*검색영역 > 버튼*/
.search_btn {
  display: inline-block;
}
/*신작, 추천 도서*/
.list_area h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
.bookLi_container {
  display: flex;
  justify-content: space-between;
}

.bookLi {
  width: 200px;
  margin-right: 10px;
  text-align: center; 
}



/*result*/
/*2단 레이아웃*/
.column-2 {
    flex: 2;
    background-color: #f0f0f0;
    margin-right: 20px;
}
.column-8 {
    flex: 8;
}
/*검색 메뉴*/
.search_menu {
  display: flex;
  justify-content: space-between;
}
.search_cnt_text {
  font-size: 120%;
  color: rgb(37, 94, 188);
  font-weight: 600;
}
.search_cnt_cnt {
  font-weight: 600;
}

/*검색 리스트*/
.search_list {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  align-items: center;
  position: relative;
}
.search_list::after {
  content: "";
  display: block;
  height: 1px; /* 선의 높이 조절 */
  width: 100%; /* 부모 요소의 가로폭에 맞게 설정 */
  background-color: #ccc; /* 선의 색상 조절 */
  position: absolute;
  bottom: 0;
  left: 0;
}
.search_img {
  left: 20px;
}
.search_info {
  align-items: flex-start;
  margin-left: 40px;
  flex-grow: 1;
}
.search_info h4 {
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1; /* 최대 표시 줄 수 */
  margin-bottom: 15px;
}
.search_info_detail {
  text-align: left;
  margin-bottom: 5px;
  font-weight: 500;
}
.search_info span::after {
  content: '|'; /* 각 span 요소 끝에 | 추가 */
  margin: 10px;
}
.search_info span:last-child::after {
  content: ''; /* 마지막 span 요소 뒤에는 |를 추가하지 않음 */
}
.listTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border: #D3D3D3 1px solid;
}
.listTable th, .listTable td {
  padding: 5px; 
}
.listTable td {
  border: #D3D3D3 1px solid;
}


/*Detail*/
.detail_book {
  display: flex; /*자식들이 플렉스니까 플렉스 컨테이너로 지정*/
}
.detail_img {
  display: flex;
  flex: 3;
  left: 20px;
  margin-right: 20px;
}
.detail_guide{
  display: flex;
  text-align: left;
  justify-content: space-evenly;
}
.detail_guide dl:first-child {
  margin-left: 20px;
}
.detail_guide dl:last-child {
  margin-right: 20px;
}
.detail_guide .hide {
  height: 0;
}
.detail_info {
  display: flex;
  flex-direction: column;
  flex: 7;
  align-items: flex-start;
  margin-top: 10px;
}
.book_table {
  text-align: left;
}
.detail_menu {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.detail_menu li{
  margin-right: 20px;
}


/*별점*/
.score fieldset {
  display: inline-block;
  direction: rtl;
  border: 0px;
}
.score input[type=radio] {
  display: none;
}
.score label {
  font-size: 3em;
  color: transparent;
  text-shadow: 0 0 0 #f0f0f0;
}
.score label:hover {
  text-shadow: 0 0 0 rgb(255, 222, 89);
}
.score label:hover ~ label {
  text-shadow: 0 0 0 rgb(255, 222, 89);
}
.score input[type=radio]:checked ~ label {
  text-shadow: 0 0 0 rgb(255, 222, 89);
}
.review {
  width: 100%;
  padding: 10px;
  margin-right: 20px;
  box-sizing: border-box;
  border: solid 1.5px #D3D3D3;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}
.detail_review {
  display: flex;
  width: 90%;
  flex-direction: column;
}


/*관심도서*/
#toggleWishBtn {
  cursor: pointer;
}
.notAdded::after {
    content: '♡';
}
.wishAdded::after {
    content: '♥';
}