@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

/*common*/
.wrap_flex {
  display: flex; /*2단 레이아웃 구성 위한 flex*/
  position: relative;
  text-align: center;
}

/*좌측*/
.menu_title {
  background-color: aquamarine;
  height: 200px;  
}

.book_side_bar li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.book_side_bar li:hover {
  background-color: #f0f0f0;
  transition: .3s;
}

/*search*/
/*검색*/
.search_wrap {
  position: relative;
  text-align: center;
}
/*검색영역*/
.search_area {
  align-items: center;
  position: relative;
}
/*검색영역 > 셀렉트 */
.search_select {
  display: inline-block;
}
/*검색영역 > 검색창 */
.search_text {
  display: inline-block;
}
.search_text input{
  width: 300px;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 3px solid rgb(37, 94, 188);
}
/*검색영역 > 버튼*/
.search_btn {
  display: inline-block;
}
/*신작, 추천 도서*/
.list_area h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  border-top: #ccc solid 1px;
  border-bottom: #ccc solid 1px;
}
.bookLi_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.bookLi_container img {
  width: 200px;
  height: 270px;
}

.bookLi {
  width: 200px;
  margin-right: 10px;
  text-align: center; 
}



/*result*/
/*2단 레이아웃*/
.column-2 {
    flex: 2;
    margin-right: 20px;
}
.column-8 {
    flex: 8;
}
/*검색 메뉴*/
.search_area {
  margin-bottom: 50px;
}
.search_menu {
  display: flex;
  justify-content: space-between;
}
.search_cnt_text {
  font-size: 120%;
  color: rgb(37, 94, 188);
  font-weight: 600;
}
.search_cnt_cnt {
  font-weight: 600;
}

/*검색 리스트*/
.search_list {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  align-items: center;
  position: relative;
}
.search_list::after {
  content: "";
  display: block;
  height: 1px; /* 선의 높이 조절 */
  width: 100%; /* 부모 요소의 가로폭에 맞게 설정 */
  background-color: #ccc; /* 선의 색상 조절 */
  position: absolute;
  bottom: 0;
  left: 0;
}
.search_img {
  left: 20px;
}
.search_info {
  align-items: flex-start;
  margin-left: 40px;
  flex-grow: 1;
}
.search_info h4 {
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1; /* 최대 표시 줄 수 */
  margin-bottom: 15px;
}
.search_info_detail {
  text-align: left;
  margin-bottom: 5px;
  font-weight: 500;
}
.search_info span::after {
  content: '|'; /* 각 span 요소 끝에 | 추가 */
  margin: 10px;
}
.search_info span:last-child::after {
  content: ''; /* 마지막 span 요소 뒤에는 |를 추가하지 않음 */
}
.listTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border: #D3D3D3 1px solid;
}
.listTable th, .listTable td {
  padding: 5px; 
}
.listTable td {
  border: #D3D3D3 1px solid;
}


/*Detail*/
.detail_bar {
  display: flex;
  align-items: center;
}
.detail_bar a {
  margin-left: auto;
  margin-right: 5px;
}
.detail_book {
  display: flex; /*자식들이 플렉스니까 플렉스 컨테이너로 지정*/
}
.detail_img {
  display: flex;
  left: 30px;
  margin-right: 60px;
}
.detail_img img {
  width: 200px;
}
.detail_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.detail_info_title {
  margin-bottom: 10px;
}
.detail_info_cate span {
  color: rgb(37, 94, 188);
  font-weight: 600;
}
.detail_info_description {
  background-color: #F0F0F0;
  text-align: left;
  padding: 10px;
  border-radius: 10px; 
  margin-bottom: 10px;
}
.book_table {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  border-collapse: separate;
  border-spacing: 0 3px;
}
.book_table th {
  padding-right: 20px;
}
.detail_guide{
  background-color: #f0f0f0;
  padding: 10px;
  padding-top: 26px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 15px; 
  display: flex;
  text-align: left;
  justify-content: space-evenly;
  transition: height 0.9s ease; 
}
.hide {
  display: none;
}
.detail_guide dt{
  background-color: rgba(37, 94, 188,.3);
  border-radius: 15px; 
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
}
.detail_menu {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.detail_menu li{
  margin-right: 20px;
}
.detail_title {
  font-weight: 800;
  margin-bottom: 20px;
}

/*별점*/
.starAvgText {
  color: rgb(255, 99, 132);
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
}
.starAvgText:hover {
  background-color:rgba(255, 222, 89);
  color: #000;
  transition: .2s;
  
}
.detail_score {
  display: flex;
}
.score {
  width: 70%;
  margin: auto;
}
.score fieldset {
  display: inline-block;
  direction: rtl;
  border: 0px;
}
.star_title{
  display: inline-block;
  font-weight: 800;
  padding: 7px;
  margin-right: 7px;
  margin-bottom: 5px;
  background-color: #FFDE59;
  border-radius: 15px;
  
}
.score input[type=radio] {
  display: none;
}
.score label {
  font-size: 3em;
  color: transparent;
  text-shadow: 0 0 0 #f0f0f0;
}
.score label:hover {
  text-shadow: 0 0 0 rgb(255, 222, 89);
}
.score label:hover ~ label {
  text-shadow: 0 0 0 rgb(255, 222, 89);
}
.score input[type=radio]:checked ~ label {
  text-shadow: 0 0 0 rgb(255, 222, 89);
}
.review {
  width: 100%;
  padding: 10px;
  margin-right: 20px;
  box-sizing: border-box;
  border: solid 1.5px #D3D3D3;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}
.detail_review {
  display: flex;
  flex-direction: column;
}
.no_score {
  padding: 30px;
  font-size: 30px;
}
.score_list_el {
  display: flex;
  border: solid 1.5px #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 20px;
}
.best {
  background-color: #f0f0f0;
}
.score_list_right {
  display: block;
  text-align: left;
}
.score_list_right_t {
  margin-bottom: 10px;
}
.el_star {
  margin-right: 30px;
}
.el_user {
  margin-right: 10px;
}
.el_reviewDate {
  margin-right: 10px;
}
.el_good {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 8px;
  margin-right: 10px;
}
.best_good {
  font-size: 20px;
  font-weight: 600;
  color: #f0f0f0;
  background-color: rgb(37, 94, 188);
}
.el_good span {
  font-weight: 600;
}
.el_btn {
  font-size: 20px;
}


/*관심도서*/
.wishBtn {
  cursor: pointer;
}

/*그래프*/
canvas {
  display: block;
  margin: 20px auto;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}