<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('1:1문의게시판')}"></head>
  
<body>
  
  <div th:replace="~{/layout/header::header}"></div>

  <div class="main_wrap">
  
  		
    <div id="header">
        <div id="leftHeader">
            <form method="get" th:action="@{/qna/search.do}">
                <select name="column">
                    <option value="EMAIL">작성자</option>
                    <option value="CONTENTS">내용</option>
                </select>
                <input type="text" name="query">
                <button type="submit" class="btn btn-outline-primary">검색</button>
            </form>
        </div>
        <div id="rightHeader" style="margin-left: auto;">
            <a th:href="@{/qna/write.form}">
                <button type="button" class="btn btn-primary">문의글 작성하기</button>
            </a>
        </div>
    </div>

    <hr>
  	 
  	 <div>
        <table class="table">
      <thead>
        <tr>
          <td>번호</td>
          <td>제목</td>
          <td>작성자</td>
          <td>답변상태</td>
          <td>작성일</td>
        </tr>
          </thead>
  	     <tbody>
        <c:forEach items="${qnaList}" var="qna">
          <tr>
            <td>${qna.askNum}</td>
            <td><a th:href="${/main/qnaDetail.do?askNum=${qna.askNum}">${qna.askTitle}</a></td>
            <td>${qna.userDto.name}</td>
            <td><c:if test="${qna.askState eq 0}">답변대기중</c:if><c:if test="${qna.askState eq 1}">답변완료</c:if></td>
            <td>${qna.askDate}</td>
          </tr>
        </c:forEach>
      </tbody>
    </table>
  </div>
  
  
</body>
</html>