<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('1:1문의게시판')}"></head>
  
<body>
  
  <div th:replace="~{/layout/header::header}"></div>

  <div class="main_wrap">
  
  <div>
      
      <div>
        <a th:href="@{/qna/write.form}">
          <button type="button" class="btn btn-primary">새글작성</button>
        </a>
      </div>
  		
  		<div>
          <form method="get" th:action="@{/qna/search.do}">
            <select name="column" >
              <option value="EMAIL">작성자</option>
              <option value="CONTENTS">내용</option>
            </select>
            <input type="text" name="query" placeholder="검색어를 입력하세요.">
            <button type="submit" class="btn btn-outline-primary">검색</button>
          </form>
        </div>
        
  	 <hr>
  
</body>
</html>