<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('QnA')}"></head>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">
    
    <div class="wrap wrap_8">
      
      <div>
        <a th:href="@{/comment/commentWrite.form}">
          <button type="button" class="btn btn-outline-primary">문의글 작성하기</button>
        </a>        
      </div>
      

      
      <div>
        <table class="table align-middle">
          <thead>
            <tr>
              <td>No.</td>
              <td>제목</td>
              <td>조회수</td>
              <td>작성자</td>
              <td>작성일자</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="b,vs:${askList}">
              <tr class="align-bottom">
                <td th:text="${beginNo - vs.index}"></td>
                <td>
                  <!--로그인-->
                  <th:block th:if="${session.user != null}">
                    <!-- 내가 작성한 글이면 조회수 그대로 -->
                    <th:block th:if="${session.user.userNo == b.userDto.userNo}">
                      <a th:href="@{/comment/commentDetail.do(askNo=${b.askNo})}" th:text="${b.askTitle}"></a>
                    </th:block>
                    <!-- 내가 작성한 글 아니면 조회수 증가 -->
                    <th:block th:if="${session.user.userNo != b.userDto.userNo}">
                      <a th:href="@{/comment/increseHit.do(askNo =${b.askNo})}" th:text="${b.askTitle}"></a>
                    </th:block>
                  </th:block>
                  <!-- 비로그인-->
                  <th:block th:if="${session.user == null}">
                      <a th:href="@{/comment/increseHit.do(askNo =${b.askNo})}" th:text="${b.askTitle}"></a>
                  </th:block>
                </td>

                <td th:text="${#numbers.formatInteger(b.hit, 1, 'COMMA')}"></td>
                <td th:text="${b.userDto.email}"></td>
                <td th:text="${#dates.format(b.createdDate, 'yyyy-MM-dd HH:mm')}"></td>

                <td></td>
              </tr>
            </th:block>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6" th:utext="${paging}"></td>
            </tr>
          </tfoot>
        </table>
      </div>
    
    </div>
    
    
    
    
    
    
    
    <script>


    </script>

  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>