<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/header::head('QnA')}"></head>
<style>
.blind {
  display: none;
}
.ico_remove_comment {
  cursor: pointer;
}  
  
</style>
<body>
  
  <div th:replace="~{layout/header::header}"></div>
  
  <div class="main_wrap">
    
    <div class="wrap wrap_8">
      
      <div>
        <div class="text-center">
          <th:block th:if="${session.user != null}">
            <!-- 작성자는 블로그 편집 삭제 가능 -->
            <th:block th:if="${session.user.userNo == ask.userDto.userNo or session.user.auth == 9}">
              <form id="frm_btn" method="post">
                <input type="hidden" name="askNo" th:value="${ask.askNo}">
                <input type="hidden" name="askTitle" th:value="${ask.askTitle}">
                <input type="hidden" name="askContent" th:value="${ask.askContent}">
                <button type="button" id="btn_edit" class="btn btn-warning btn-sm">편집</button>
                <button type="button" id="btn_remove" class="btn btn-warning btn-sm">삭제</button>
              </form>
            </th:block>
          </th:block>
        </div>
        <h1 class="title mt-4" th:text="${ask.askTitle}"></h1>
        <div th:text="|작성자 : ${ask.userDto.name}|"></div>
        <div th:text="|조회수 : ${#numbers.formatInteger(ask.hit, 1, 'COMMA')}|"></div>
        <div th:text="|작성일 : ${#dates.format(ask.createdDate, 'yyyy-MM-dd HH:mm')}|"></div>
        <div th:text="|수정일 : ${#dates.format(ask.modifiedDate, 'yyyy-MM-dd HH:mm')}|"></div>
        <div class="mt-3" th:utext="${ask.askContent}"></div>
        
        <hr>
        
      <!-- 댓글 작성 화면 -->
      <div>
        <th:block th:if="${session.user.auth == 9}">
        <form id="frm_comment_add">
          <div class="input-group mb-3">
            <!-- 로그인 안 한 경우 -->
            <th:block th:if="${session.user == null}">              
              <input type="hidden" name="userNo" th:value="0">
            </th:block>
            <!-- 로그인 한 경우 -->
            <th:block th:if="${session.user != null}">              
              <input type="hidden" name="userNo" th:value="${session.user.userNo}">
            </th:block>
            <input type="hidden" name="askNo" th:value="${ask.askNo}">
            
            <textarea rows="5" class="form-control" name="ansContent" id="ansContent" placeholder="댓글을 작성해 주세요"></textarea>
            <button type="button" class="btn btn-primary btn-sm" id="btn_comment_add">작성완료</button>
          </div>
        </form>
        </th:block>
      </div>
      
         <div  class="mb-3" id="commentContainer"></div>

    </div>
    
  </div>
    <!-- 목록 -->
    <!-- 답변 -->

    
    
    
<script th:inline="javascript">
  
  var frmBtn = $('#frm_btn');
  
  const fnEditAsk = () => {
    $('#btn_edit').click(() => {
      frmBtn.attr('action', '/comment/commentEdit.form');
      frmBtn.submit();
    })
  }

  const fnRemoveAsk = () => {
    $('#btn_remove').click(() => {
      if(confirm('문의글을 삭제하면 댓글이 함께 삭제됩니다. 삭제할까요?')){
        frmBtn.attr('action', '/comment/commnetDelete.do');
        frmBtn.submit();
      }
    })
  }

 const fnModifyResult = () => {
    let modifyResult =  null; 
    if(modifyResult !== null){
      if(modifyResult === 1){
        alert('게시글이 수정되었습니다.');
      } else {
        alert('게시글이 수정되지 않았습니다.');
      }
    }
  }





  fnEditAsk();
  fnRemoveAsk();
  fnModifyResult();




    
 const fnContentsClick = () => {
      $('#ansContent').click(() => {
        let user = /*[[${session.user}]]*/ null;
        if(user === null){
          
                  console.log(user); 

          if(confirm('로그인이 필요한 기능입니다. 로그인할까요?')){
            location.href = '/user/login.form';
          } else {
            return;
          }
        }
      })
    }
    
const fnCommentAdd = () => {
          $('#btn_comment_add').click(() => {
            let user = /*[[${session.user}]]*/ null;
            if(user === null){
              if(confirm('로그인이 필요한 기능입니다. 로그인할까요?')){
                location.href = '/user/login.form';
              } else {
                return;
              }
            }
            $.ajax({
              // 요청
              type: 'post',
              url: '/comment/answerAdd.do',
              data: $('#frm_comment_add').serialize(),
              // 응답
              dataType: 'json',
              success: (resData) => { 
                if (resData.addAnswerResult === 1) {
                  alert('댓글이 등록되었습니다.');
                  $('#ansContent').val('');
                  fnCommentList();
                  
                }
              }
            })
          })
        }
        
const fnCommentList = () => {
  $.ajax({
    type: 'GET',
    url: '/comment/getAnsList.do',
    dataType: 'json',
    success: (commentList) => {
      $('#commentContainer').html(''); // 기존 댓글을 지웁니다.
      commentList.forEach((comment) => {
        $('#commentContainer').append(`<div>${comment.ansContent}</div>`);
      });
    }
  });
};

    
    
    
  fnContentsClick();
  fnCommentAdd();
  fnCommentList();



</script>



  </div>
  
  <div th:replace="~{layout/footer::footer}"></div>
  
</body>
</html>