<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
  <!-- 설정 -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <typeAliases>
    <typeAlias alias="UserDto"                 type="kr.co.bookvillage.dto.UserDto"/>
    <typeAlias alias="InactiveUserDto"         type="kr.co.bookvillage.dto.InactiveUserDto"/>
    <typeAlias alias="AccessDto"               type="kr.co.bookvillage.dto.AccessDto"/>
    <typeAlias alias="NoticeDto"       		   type="kr.co.bookvillage.dto.NoticeDto"/>
    <typeAlias alias="AttachNtDto"             type="kr.co.bookvillage.dto.AttachNtDto"/>
    <typeAlias alias="FaqDto"            	   type="kr.co.bookvillage.dto.FaqDto"/>
    <typeAlias alias="BookDto"                 type="kr.co.bookvillage.dto.BookDto"/>
    <typeAlias alias="BookSearchDto"           type="kr.co.bookvillage.dto.BookSearchDto"/>
    <typeAlias alias="ScoreDto"                type="kr.co.bookvillage.dto.ScoreDto"/>
    <typeAlias alias="WishDto"                 type="kr.co.bookvillage.dto.WishDto"/>
    <typeAlias alias="FacilityDto"           type="kr.co.bookvillage.dto.FacilityDto"/>
    <typeAlias alias="AttachFacDto"           type="kr.co.bookvillage.dto.AttachFacDto"/>
    <typeAlias alias="BookApplyDto"           type="kr.co.bookvillage.dto.BookApplyDto"/>
    <typeAlias alias="BookCheckoutDto"           type="kr.co.bookvillage.dto.BookCheckoutDto"/>
  </typeAliases>

</configuration>